mixin wrapper(opts)
  - var opts = opts || {};
  - var calculatedImgWidth = Math.round((width / 3) * 2)
  
  table.w100pc.backgroundTable.zwrapper(width=( opts.width == 'full' ? '100%' : opts.width ? opts.width : '600' ), align='center', bgcolor=opts.bgColor ? opts.bgColor : color.bg, cellpadding='0', cellspacing='0', border='0', style='width: ' + ( opts.width == 'full' ? '100%' : opts.width ? ( opts.width + 'px' ) : '600px') + ';' )
    tbody
      tr
        td.w100pc.zwrapper(class=opts.customClass, width=( opts.width == 'full' ? '100%' : opts.width ? opts.width : '600' ), valign='top', bgcolor=opts.bgColor ? opts.bgColor : color.bg, background=opts.bulletproof && opts.bgSrc ? opts.bgSrc : opts.bulletproof ? 'https://www.placehold.it/' + width + 'x' + calculatedImgWidth : 'none', style='padding-top: ' + ( opts.paddingTop == '0' || opts.paddingTop == undefined ? '0' : opts.paddingTop + 'px' ) + ';\
        padding-right: ' + ( opts.paddingRight == '0' || opts.paddingRight == undefined ? '0' : opts.paddingRight + 'px' ) + ';\
        padding-bottom: ' + ( opts.paddingBottom == '0' || opts.paddingBottom == undefined ? '0' : opts.paddingBottom + 'px' ) + ';\
        padding-left: ' + ( opts.paddingLeft == '0' || opts.paddingLeft == undefined ? '0' : opts.paddingLeft + 'px' ) + ';\
        border-top: ' + ( opts.borderTop ? opts.borderTop : '0' ) + ';\
        border-right: ' + ( opts.borderRight ? opts.borderRight : '0' ) + ';\
        border-bottom: ' + ( opts.borderBottom ? opts.borderBottom : '0' ) + ';\
        border-left: ' + ( opts.borderLeft ? opts.borderLeft : '0' ) + ';\
        width: ' + ( opts.width == 'full' ? '100%' : opts.width ? ( opts.width + 'px' ) : '600px' ) + ';' + 
        ( opts.bulletproof ? 'background-color: ' + ( opts.bgColor ? opts.bgColor : color.bg ) + ';' + 'background-image: url(' + ( opts.bgSrc ? opts.bgSrc: 'https://www.placehold.it/' + width + 'x' + calculatedImgWidth ) + ');' + 'background-position: top center; background-repeat: no-repeat; background-size: cover;' : ''))

          - if (opts.bulletproof)
            // -->
              <!--[if gte mso 9]>
              <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="#{opts.width == 'full' ? 'mso-width-percent:1000' : ('width:' + opts.width + 'px')};">
                <v:fill type="frame" src="#{opts.bgSrc}" color="#{opts.bgColor ? opts.bgColor : color.bg}" />
                <v:textbox style="mso-fit-shape-to-text:true" inset="0,0,0,0">
              <![endif]--> <!--         
            div
              block      
            // -->
              <!--[if gte mso 9]>
                </v:textbox>
              </v:rect>
              <![endif]--> <!-- 
          - else
        
            block



mixin row(opts)
  - var opts = opts || {};
  - !opts.width ? width = '600' : width = opts.width
  - ( opts.paddingRight && opts.paddingLeft ) ? calculatedWidth = ( width - opts.paddingRight - opts.paddingLeft ) : opts.paddingRight ? calculatedWidth = ( width - opts.paddingRight ) : opts.paddingLeft ? calculatedWidth = ( width - opts.paddingLeft ) : calculatedWidth = width
  
  table.w100pc.zrow(width=width, align='center', bgcolor=opts.bgColor ? opts.bgColor : color.bg, cellpadding='0', cellspacing='0', border='0', style='width: ' + (opts.width ? opts.width : '600') + 'px;')
    tbody
      tr
        td.w100pc.zrow(class=opts.noMobilePadding ? '' : 'pH', class=opts.customClass, width=calculatedWidth, align='center', valign='top', bgcolor=opts.bgColor ? opts.bgColor : color.bg, style='padding-top: ' + ( opts.paddingTop == '0' || opts.paddingTop == undefined ? '0' : opts.paddingTop + 'px' ) + ';\
        padding-right: ' + ( opts.paddingRight == '0' || opts.paddingRight == undefined ? '0' : opts.paddingRight + 'px' ) + ';\
        padding-bottom: ' + ( opts.paddingBottom == '0' || opts.paddingBottom == undefined ? '0' : opts.paddingBottom + 'px' ) + ';\
        padding-left: ' + ( opts.paddingLeft == '0' || opts.paddingLeft == undefined ? '0' : opts.paddingLeft + 'px' ) + ';\
        border-top: ' + ( opts.borderTop ? opts.borderTop : '0' ) + ';\
        border-right: ' + ( opts.borderRight ? opts.borderRight : '0' ) + ';\
        border-bottom: ' + ( opts.borderBottom ? opts.borderBottom : '0' ) + ';\
        border-left: ' + ( opts.borderLeft ? opts.borderLeft : '0' ) + ';\
        width: ' + (opts.width ? opts.width : '600') + 'px;')
          table.w100pc.zrow(width=opts.width ? opts.width : '600', dir=opts.direction ? opts.direction : 'ltr', align='center', bgcolor=opts.bgColor ? opts.bgColor : color.bg, cellpadding='0', cellspacing='0', border='0', style='width: ' + (opts.width ? opts.width : '600') + 'px;')
            tbody
              tr
                block
                
                
                
mixin subRow(opts)
  - var opts = opts || {};
  - !opts.width ? width = '600' : width = opts.width
  - ( opts.paddingRight && opts.paddingLeft ) ? calculatedWidth = ( width - opts.paddingRight - opts.paddingLeft ) : opts.paddingRight ? calculatedWidth = ( width - opts.paddingRight ) : opts.paddingLeft ? calculatedWidth = ( width - opts.paddingLeft ) : calculatedWidth = width
  
  tr
    td.w100pc.zsubRow(class=opts.customClass, width=width, align='center', valign=opts.valign? opts.valign : 'top', bgcolor=opts.bgColor ? opts.bgColor : color.bg, style='padding-top: ' + (opts.paddingTop == '0' || opts.paddingTop == undefined ? '0' : opts.paddingTop + 'px' ) + ';\
    padding-right: ' + ( opts.paddingRight == '0' || opts.paddingRight == undefined ? '0' : opts.paddingRight + 'px' ) + ';\
    padding-bottom: ' + ( opts.paddingBottom == '0' || opts.paddingBottom == undefined ? '0' : opts.paddingBottom + 'px' ) + ';\
    padding-left: ' + ( opts.paddingLeft == '0' || opts.paddingLeft == undefined ? '0' : opts.paddingLeft + 'px' ) + ';\
    border-top: ' + ( opts.borderTop ? opts.borderTop : '0' ) + ';\
    border-right: ' + ( opts.borderRight ? opts.borderRight : '0' ) + ';\
    border-bottom: ' + ( opts.borderBottom ? opts.borderBottom : '0' ) + ';\
    border-left: ' + ( opts.borderLeft ? opts.borderLeft : '0' ) + ';\
    width: ' + ( opts.width ? opts.width : '600' ) + 'px;')
      table.w100pc.zsubrow(width=calculatedWidth, dir=opts.direction ? opts.direction : 'ltr', align=opts.align ? opts.align : 'center', bgcolor=opts.bgColor ? opts.bgColor : color.bg, cellpadding='0', cellspacing='0', border='0', style='width: ' + (opts.width ? opts.width : '600') + 'px;')
        tbody
          tr
            block



mixin column(opts)
  - var opts = opts || {};
  - !opts.width ? width = '600' : width = opts.width
  - ( opts.paddingRight && opts.paddingLeft ) ? calculatedWidth = ( width - opts.paddingRight - opts.paddingLeft ) : opts.paddingRight ? calculatedWidth = ( width - opts.paddingRight ) : opts.paddingLeft ? calculatedWidth = ( width - opts.paddingLeft ) : calculatedWidth = width
  - var calculatedImgWidth = Math.round((width / 3) * 2)
  
  - if ( opts.mobileWidth == '100%' )
    - var mobileWidth = 'w100pc full';
  - else if ( opts.mobileWidth == '95%' )
    - var mobileWidth = 'w95pc';
  - else if ( opts.mobileWidth == '90%' )
    - var mobileWidth = 'w90pc';
  - else if ( opts.mobileWidth == '85%' )
    - var mobileWidth = 'w85pc';
  - else if ( opts.mobileWidth == '80%' )
    - var mobileWidth = 'w80pc';
  - else if ( opts.mobileWidth == '75%' )
    - var mobileWidth = 'w75pc';
  - else if ( opts.mobileWidth == '70%' )
    - var mobileWidth = 'w70pc';
  - else if ( opts.mobileWidth == '65%' )
    - var mobileWidth = 'w65pc';
  - else if ( opts.mobileWidth == '60%' )
    - var mobileWidth = 'w60pc';
  - else if ( opts.mobileWidth == '55%' )
    - var mobileWidth = 'w55pc';
  - else if ( opts.mobileWidth == '50%' )
    - var mobileWidth = 'w50pc';
  - else if ( opts.mobileWidth == '45%' )
    - var mobileWidth = 'w45pc';
  - else if ( opts.mobileWidth == '30%' )
    - var mobileWidth = 'w30pc';
  - else if ( opts.mobileWidth == '25%' )
    - var mobileWidth = 'w25pc';
  - else if ( opts.mobileWidth == '20%' )
    - var mobileWidth = 'w20pc';
  - else if ( opts.mobileWidth == '15%' )
    - var mobileWidth = 'w15pc';
  - else if ( opts.mobileWidth == '10%' )
    - var mobileWidth = 'w10pc';
  - else if ( opts.mobileWidth == '5%' )
    - var mobileWidth = 'w5pc';
  - else if ( opts.mobileWidth == 'hide' )
    - var mobileWidth = 'hide';
  
  th.zcolumn(class=mobileWidth, class=opts.customClass, width=width, dir=opts.direction ? opts.direction : 'ltr', align=opts.align ? opts.align : 'center', valign=opts.valign ? opts.valign : 'top', bgcolor=opts.bgColor ? opts.bgColor : color.bg, background=opts.bulletproof && opts.bgSrc ? opts.bgSrc : opts.bulletproof ? 'https://www.placehold.it/' + width + 'x' + calculatedImgWidth : 'none', style='padding-top: ' + ( opts.paddingTop == '0' || opts.paddingTop == undefined ? '0' : opts.paddingTop + 'px' ) + ';\
  padding-right: ' + ( opts.paddingRight == '0' || opts.paddingRight == undefined ? '0' : opts.paddingRight + 'px' ) + ';\
  padding-bottom: ' + ( opts.paddingBottom == '0' || opts.paddingBottom == undefined ? '0' : opts.paddingBottom + 'px' ) + ';\
  padding-left: ' + ( opts.paddingLeft == '0' || opts.paddingLeft == undefined ? '0' : opts.paddingLeft + 'px' ) + ';\
  border-top: ' + ( opts.borderTop ? opts.borderTop : '0' ) + ';\
  border-right: ' + ( opts.borderRight ? opts.borderRight : '0' ) + ';\
  border-bottom: ' + ( opts.borderBottom ? opts.borderBottom : '0' ) + ';\
  border-left: ' + ( opts.borderLeft ? opts.borderLeft : '0' ) + ';\
  width: ' + width + 'px;' + 
  (opts.bulletproof ? 'background-color: ' + ( opts.bgColor ? opts.bgColor : color.bg ) + ';' + 'background-image: url(' + ( opts.bgSrc ? opts.bgSrc: 'https://www.placehold.it/' + width + 'x' + calculatedImgWidth ) + ');' + 'background-position: top center; background-repeat: no-repeat; background-size: cover;' : ''))
  
    - if (opts.bulletproof)
      // -->
        <!--[if gte mso 9]>
        <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="width: #{width}px;">
          <v:fill type="frame" src="#{opts.bgSrc}" color="#{opts.bgColor ? opts.bgColor : color.bg}" />
          <v:textbox style="mso-fit-shape-to-text:true" inset="0,0,0,0">
        <![endif]--> <!--
      div
        table.w100pc.zcolumn(width=calculatedWidth, align=opts.align ? opts.align : 'center', bgcolor=opts.bgColor ? opts.bgColor : color.bg, cellpadding='0', cellspacing='0', border='0', style='width: ' + calculatedWidth + 'px;')
          tbody
            block
      // -->
        <!--[if gte mso 9]>
          </v:textbox>
        </v:rect>
        <![endif]--> <!-- 
    - else

      table.w100pc.zcolumn(width=calculatedWidth, align=opts.align ? opts.align : 'center', bgcolor=opts.bgColor ? opts.bgColor : color.bg, cellpadding='0', cellspacing='0', border='0', style='width: ' + calculatedWidth + 'px;')
        tbody
          block  


              
mixin img(opts)
  - var opts = opts || {};
  - !opts.width ? width = '600' : width = opts.width
  - var calculatedImgWidth = Math.round((width / 3) * 2)

  tr
    td.w100pc(class=opts.customClass, width=width, align=opts.align ? opts.align : 'center', valign=opts.valign ? opts.valign : 'top', bgcolor=opts.bgColor ? opts.bgColor : color.bg, style='padding-top: ' + ( opts.paddingTop == '0' || opts.paddingTop == undefined ? '0' : opts.paddingTop + 'px' ) + ';\
    padding-right: ' + ( opts.paddingRight == '0' || opts.paddingRight == undefined ? '0' : opts.paddingRight + 'px' ) + ';\
    padding-bottom: ' + ( opts.paddingBottom == '0' || opts.paddingBottom == undefined ? '0' : opts.paddingBottom + 'px' ) + ';\
    padding-left: ' + ( opts.paddingLeft == '0' || opts.paddingLeft == undefined ? '0' : opts.paddingLeft + 'px' ) + ';\
    border-top: ' + ( opts.borderTop ? opts.borderTop : '0' ) + ';\
    border-right: ' + ( opts.borderRight ? opts.borderRight : '0' ) + ';\
    border-bottom: ' + ( opts.borderBottom ? opts.borderBottom : '0' ) + ';\
    border-left: ' + ( opts.borderLeft ? opts.borderLeft : '0' ) + ';\
    width: ' + width + 'px;')
      - if (opts.removeLink)
        img(class=opts.responsive ? 'w100pc hauto' : '', src=opts.imgSrc ? opts.imgSrc: 'https://www.placehold.it/' + width + 'x' + calculatedImgWidth, alt=opts.imgTitle ? opts.imgTitle : 'alt', width=opts.imgWidth ? opts.imgWidth : width, border='0', style='display: block; border: none; width: ' + ( opts.imgWidth ? opts.imgWidth : width ) + 'px;')/
        block
        
      - else
        a(href=opts.imgHref ? opts.imgHref : '#', target='_blank', title=opts.imgTitle ? opts.imgTitle : 'title', style='text-decoration: none; border: 0; outline: 0;')
          img( class=opts.responsive ? 'w100pc hauto' : '', src=opts.imgSrc ? opts.imgSrc: 'https://www.placehold.it/' + width + 'x' + calculatedImgWidth, alt=opts.imgTitle ? opts.imgTitle : 'alt', width=opts.imgWidth ? opts.imgWidth : width, border='0', style='display: block; border: none; width: ' + ( opts.imgWidth ? opts.imgWidth : width ) + 'px;')/
        block
      
      
  
mixin vid(opts)
  - var opts = opts || {};
  - !opts.width ? width = '600' : width = opts.width
  - var calculatedVidImgWidth = Math.round((width / 16) * 9)

  tr
    td.w100pc(class=opts.customClass, width=width, align=opts.align ? opts.align : 'center', valign=opts.valign ? opts.valign : 'top', bgcolor=opts.bgColor ? opts.bgColor : color.bg, style='padding-top: ' + ( opts.paddingTop == '0' || opts.paddingTop == undefined ? '0' : opts.paddingTop + 'px' ) + ';\
    padding-right: ' + ( opts.paddingRight == '0' || opts.paddingRight == undefined ? '0' : opts.paddingRight + 'px' ) + ';\
    padding-bottom: ' + ( opts.paddingBottom == '0' || opts.paddingBottom == undefined ? '0' : opts.paddingBottom + 'px' ) + ';\
    padding-left: ' + ( opts.paddingLeft == '0' || opts.paddingLeft == undefined ? '0' : opts.paddingLeft + 'px' ) + ';\
    border-top: ' + ( opts.borderTop ? opts.borderTop : '0' ) + ';\
    border-right: ' + ( opts.borderRight ? opts.borderRight : '0' ) + ';\
    border-bottom: ' + ( opts.borderBottom ? opts.borderBottom : '0' ) + ';\
    border-left: ' + ( opts.borderLeft ? opts.borderLeft : '0' ) + ';\
    width: ' + width + 'px;')
      .vid(style='display:none;')
        video(width=opts.vidWidth ? opts.vidWidth : width, controls='controls', poster=opts.vidImgSrc ? opts.vidImgSrc : 'http://placehold.jp/' + width + 'x' + calculatedVidImgWidth + '.png?text=|>', src=opts.vidSrc ? opts.vidSrc : 'https://bit.ly/2RtB5UV')
          a(href=opts.vidHref ? opts.vidHref : '#', target='_blank', title=opts.vidTitle ? opts.vidTitle : 'title', style='text-decoration: none; border: 0; outline: 0;')
            img(class=opts.responsive ? 'w100pc hauto' : '', src=opts.vidImgSrc ? opts.vidImgSrc : 'http://placehold.jp/' + width + 'x' + calculatedVidImgWidth + '.png?text=|>', alt=opts.vidTitle ? opts.vidTitle : 'alt', width=opts.vidImgWidth ? opts.vidImgWidth : width, border='0', style='display: block; border: none; width: ' + (opts.vidImgWidth ? opts.vidImgWidth : width) + 'px;')/
      .vid-fallback
        a(href=opts.vidHref ? opts.vidHref : '#', target='_blank', title=opts.vidTitle ? opts.vidTitle : 'title', style='text-decoration: none; border: 0; outline: 0;')
          img(class=opts.responsive ? 'w100pc hauto' : '', src=opts.vidImgSrc ? opts.vidImgSrc : 'http://placehold.jp/' + width + 'x' + calculatedVidImgWidth + '.png?text=|>', alt=opts.vidTitle ? opts.vidTitle : 'alt', width=opts.vidImgWidth ? opts.vidImgWidth : width, border='0', style='display: block; border: none; width: ' + (opts.vidImgWidth ? opts.vidImgWidth : width) + 'px;')/
      block
          



mixin txt(opts)
  - var opts = opts || {};
  - !opts.txt ? opts.txt = 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.' : opts.txt
  
  - if ( opts.mobileAlignment == 'center' )
    - var mobileAlignment = 'aH--c';
  - if ( opts.mobileAlignment == 'left' )
    - var mobileAlignment = 'aH--l';
  - if ( opts.mobileAlignment == 'right' )
    - var mobileAlignment = 'aH--r';
  
  tr
    td.w100pc(class=mobileAlignment, class=opts.customClass, width=opts.width ? opts.width : '600', align=opts.align ? opts.align : 'center', valign=opts.valign ? opts.valign : 'top', bgcolor=opts.bgColor ? opts.bgColor : color.bg, style='padding-top: ' + ( opts.paddingTop == '0' || opts.paddingTop == undefined ? '0' : opts.paddingTop + 'px' ) + ';\
    padding-right: ' + ( opts.paddingRight == '0' || opts.paddingRight == undefined ? '0' : opts.paddingRight + 'px' ) + ';\
    padding-bottom: ' + ( opts.paddingBottom == '0' || opts.paddingBottom == undefined ? '0' : opts.paddingBottom + 'px' ) + ';\
    padding-left: ' + ( opts.paddingLeft == '0' || opts.paddingLeft == undefined ? '0' : opts.paddingLeft + 'px' ) + ';\
    border-top: ' + ( opts.borderTop ? opts.borderTop : '0' ) + ';\
    border-right: ' + ( opts.borderRight ? opts.borderRight : '0' ) + ';\
    border-bottom: ' + ( opts.borderBottom ? opts.borderBottom : '0' ) + ';\
    border-left: ' + ( opts.borderLeft ? opts.borderLeft : '0' ) + ';\
    font-family: ' + ( opts.fontFamily ? opts.fontFamily : font.default !== undefined ? font.default : 'Helvetica, sans-serif' ) + ';\
    font-size: ' + ( opts.fontSize ? opts.fontSize : '14' ) + 'px;\
    font-weight: ' + ( opts.fontWeight ? opts.fontWeight : 'normal' ) + ';\
    line-height: ' + ( opts.lineHeight ? opts.lineHeight : '21' ) + 'px;\
    color: ' + ( opts.fontColor ? opts.fontColor : color.txt ) + ';\
    width: ' + ( opts.width ? opts.width : '600' ) + 'px;')
      | !{opts.txt}
      block



mixin btn(opts)
  - var opts = opts || {};
  - !opts.btnTxt ? opts.btnTxt = 'Lorem ipsum' : opts.btnTxt
  - ( opts.btnBorderRadius && !opts.bulletproof ? width = undefined : width = ( opts.width ? opts.width : '600' ) )
  
  tr
    td.w100pc(class=opts.customClass, width=width, align=opts.align ? opts.align : 'center', valign=opts.valign ? opts.valign : 'top', bgcolor=opts.bgColor ? opts.bgColor : color.bg, style='padding-top: ' + ( opts.paddingTop == '0' || opts.paddingTop == undefined ? '0' : opts.paddingTop + 'px' ) + ';\
    padding-right: ' + ( opts.paddingRight == '0' || opts.paddingRight == undefined ? '0' : opts.paddingRight + 'px' ) + ';\
    padding-bottom: ' + ( opts.paddingBottom == '0' || opts.paddingBottom == undefined ? '0' : opts.paddingBottom + 'px' ) + ';\
    padding-left: ' + ( opts.paddingLeft == '0' || opts.paddingLeft == undefined ? '0' : opts.paddingLeft + 'px' ) + ';\
    border-top: ' + ( opts.borderTop ? opts.borderTop : '0' ) + ';\
    border-right: ' + ( opts.borderRight ? opts.borderRight : '0' ) + ';\
    border-bottom: ' + ( opts.borderBottom ? opts.borderBottom : '0' ) + ';\
    border-left: ' + ( opts.borderLeft ? opts.borderLeft : '0' ) + ';' + ( opts.btnBorderRadius ? '' : 'width: ' + width + 'px;' ) )
      table.w100pc(align=opts.align ? opts.align : 'center', bgcolor=opts.bgColor ? opts.bgColor : color.bg, border='0', cellpadding='0', cellspacing='0', width=width, style=opts.btnBorderRadius ? '' : 'width: ' + width + 'px;')
        tbody
          tr
            - if ( opts.bulletproof )
              - opts.btnBorder == undefined || opts.btnBorder == '0' ? border = 'f' : border = opts.btnBorder.split(' ')[2] 
              td(align=opts.align ? opts.align : 'center')
                div
                  // -->
                    <!--[if mso]>
                      <v:#{opts.btnBorderRadius ? 'roundrect' : 'rect'} xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="#{opts.btnHref ? opts.btnHref : '#'}" style="height:#{opts.btnHeight == undefined ? '40px' : opts.btnHeight == '0' ? '0' : opts.btnHeight + 'px'};v-text-anchor:middle;width:#{opts.btnWidth == undefined ? '200px' : opts.btnWidth == '0' ? '0' : opts.btnWidth + 'px'};" arcsize="#{opts.btnBorderRadius == undefined || opts.btnBorderRadius == '0' ? '0' : (opts.btnBorderRadius * 2.5) + '%'}" #{opts.btnBorder == undefined || opts.btnBorder == '0' ? 'stroke' : 'strokecolor'}="#{border}" fillcolor="#{opts.btnColor ? opts.btnColor : color.hlight}">
                        <w:anchorlock/>
                        <center style="color:#{opts.btnTxtColor ? opts.btnTxtColor : color.bg}; font-family:#{opts.btnFontFamily ? opts.btnFontFamily : font.default !== undefined ? font.default : 'Helvetica, sans-serif'}; font-size:#{opts.fontSize ? opts.fontSize : '14'}px; font-weight:#{opts.btnFontWeight ? opts.btnFontWeight : 'normal'};">#{opts.btnTxt ? opts.btnTxt : 'Call-to-action'}</center>
                      </v:roundrect>
                    <![endif]--> <!--
                  a(href=opts.btnHref ? opts.btnHref : '#', title="_blank", style='background-color: ' + ( opts.btnColor ? opts.btnColor : color.hlight ) + ';\
                  border: ' + ( opts.btnBorder ? opts.btnBorder : '0' ) + ';\
                  border-radius:' + ( opts.btnBorderRadius == undefined || opts.btnBorderRadius == '0' ? '0' : opts.btnBorderRadius + 'px' ) + ';\
                  color: ' + ( opts.btnTxtColor ? opts.btnTxtColor : color.bg ) + ';\
                  display:inline-block;\
                  font-family: ' + ( opts.btnFontFamily ? opts.btnFontFamily : font.default !== undefined ? font.default : 'Helvetica, sans-serif' ) + ';\
                  font-size: ' + ( opts.btnFontSize ? opts.btnFontSize : '14' ) + 'px;\
                  font-weight: ' + ( opts.btnFontWeight ? opts.btnFontWeight : 'normal' ) + ';\
                  line-height: ' + ( opts.btnHeight == undefined ? (opts.btnFontSize * 3) + 'px' : opts.btnHeight == '0' ? '0' : opts.btnHeight + 'px' ) + ';\
                  text-align:center;\
                  text-decoration:none;\
                  width: ' + (opts.btnWidth == undefined ? '200px' : opts.btnWidth == '0' ? '0' : opts.btnWidth + 'px' ) + ';\
                  -webkit-text-size-adjust:none;\
                  mso-hide:all;')
                    span(style='color: ' + ( opts.btnTxtColor ? opts.btnTxtColor : color.bg ) + ';\
                    font-family: ' + ( opts.btnFontFamily ? opts.btnFontFamily : font.default !== undefined ? font.default : 'Helvetica, sans-serif' ) + ';\
                    font-size: ' + ( opts.btnFontSize ? opts.btnFontSize : '14' ) + 'px;\
                    font-weight: ' + ( opts.btnFontWeight ? opts.btnFontWeight : 'normal' ) + ';\
                    line-height: ' + ( opts.btnHeight == undefined ? (opts.btnFontSize * 3) + 'px' : opts.btnHeight == '0' ? '0' : opts.btnHeight + 'px' ) + ';') 
                      | !{opts.btnTxt ? opts.btnTxt : 'Call-to-action'}
                        
            - else
            
              - opts.btnBorderRadius ? width = undefined : width = (opts.btnWidth ? opts.btnWidth : '200')
            
              td(width=width, align='center', valign='middle', bgcolor=opts.btnColor ? opts.btnColor : color.hlight, style=
              ( opts.btnBorderRadius ? 'border-radius:' + ( opts.btnBorderRadius ? opts.btnBorderRadius + 'px' : '200px' ) + ';' : 'padding-top: ' + ( opts.btnPaddingTop == undefined ? '16px' : opts.btnPaddingTop == '0' ? '0' : opts.btnPaddingTop + 'px' ) + '; ' + 'padding-right: ' + ( opts.btnPaddingRight == undefined ? '16px' : opts.btnPaddingRight == '0' ? '0' : opts.btnPaddingRight + 'px' ) + '; ' + 'padding-right: ' + ( opts.btnPaddingRight == undefined ? '16px' : opts.btnPaddingRight == '0' ? '0' : opts.btnPaddingRight + 'px' ) + '; ' + 'padding-bottom: ' + ( opts.btnPaddingBottom == undefined ? '16px' : opts.btnPaddingBottom == '0' ? '0' : opts.btnPaddingBottom + 'px' ) + '; ' + 'padding-left: ' + ( opts.btnPaddingLeft == undefined ? '16px' : opts.btnPaddingLeft == '0' ? '0' : opts.btnPaddingLeft + 'px' ) + ';' + 'border: ' + ( opts.btnBorder ? opts.btnBorder : '0' ) + ';') + '\
              font-family: ' + ( opts.btnFontFamily ? opts.btnFontFamily : font.default !== undefined ? font.default : 'Helvetica, sans-serif' ) + ';\
              font-size: ' + ( opts.btnFontSize ? opts.btnFontSize : '14' ) + 'px;\
              font-weight: ' + ( opts.btnFontWeight ? opts.btnFontWeight : 'normal' ) + ';\
              line-height: ' + ( opts.btnLineHeight ? opts.btnLineHeight : '14' ) + 'px;\
              color: ' + ( opts.btnTxtColor ? opts.btnTxtColor : color.bg ) + ';' + ( opts.btnBorderRadius ? '' : 'width: ' + width + 'px;' ) )
                a(href=opts.btnHref ? opts.btnHref : '#', target='_blank', title=opts.btnTitle ? opts.btnTitle : 'title', style='text-decoration: none; border: 0; outline: 0; color:' + (opts.btnTxtColor ? opts.btnTxtColor : color.bg) + '; ' + ( opts.btnBorderRadius ? 'border-radius:' + opts.btnBorderRadius + 'px; ' + 'background-color: ' + ( opts.btnColor ? opts.btnColor : color.hlight ) + '; ' + 'display: block; ' + 'padding-top: ' + ( opts.btnPaddingTop == undefined ? '16px' : opts.btnPaddingTop == '0' ? '0' : opts.btnPaddingTop + 'px' ) + '; ' + 'padding-right: ' + ( opts.btnPaddingRight == undefined ? '16px' : opts.btnPaddingRight == '0' ? '0' : opts.btnPaddingRight + 'px' ) + '; ' + 'padding-bottom: ' + ( opts.btnPaddingBottom == undefined ? '16px' : opts.btnPaddingBottom == '0' ? '0' : opts.btnPaddingBottom + 'px' ) + '; ' + 'padding-left: ' + ( opts.btnPaddingLeft == undefined ? '16px' : opts.btnPaddingLeft == '0' ? '0' : opts.btnPaddingLeft + 'px' ) + '; ' + 'border: ' + ( opts.btnBorder ? opts.btnBorder : '0' ) + '; ' + 'width: ' + ( opts.btnWidth ? opts.btnWidth + 'px' : '200px' ) + ';' : '') )
                  span(style='color: ' + ( opts.btnTxtColor ? opts.btnTxtColor : color.bg ) + ';\
                      font-family: ' + ( opts.btnFontFamily ? opts.btnFontFamily : font.default !== undefined ? font.default : 'Helvetica, sans-serif' ) + ';\
                      font-size: ' + ( opts.btnFontSize ? opts.btnFontSize : '14' ) + 'px;\
                      font-weight: ' + ( opts.btnFontWeight ? opts.btnFontWeight : 'normal' ) + ';') 
                        | !{opts.btnTxt ? opts.btnTxt : 'Call-to-action'}
            
            
            
mixin spcr(opts)
  - var opts = opts || {};
  - var cellpadding = Math.round(opts.height / 2);
  
  tr
    td.w100pc(width=opts.width ? opts.width : '600', height=opts.height ? opts.height : '16', cellpadding=cellpadding, align='center', valign='top', bgcolor=opts.bgColor ? opts.bgColor : color.bg, style='width: ' + ( opts.width ? opts.width : '600' ) + 'px;\
    height: ' + ( opts.height ? opts.height : '16' ) + 'px;')
      block