mixin vid(opts)
  - opts = opts || {}
  - !opts.width ? width = '600' : width = opts.width
  - var calculatedVidImgWidth = Math.round((width / 16) * 9)

  tr
    td.w100pc(data-component='vid', class=opts.customClass, width=width, align=opts.align ? opts.align : 'center', valign=opts.valign ? opts.valign : 'top', bgcolor=opts.bgColor ? opts.bgColor : color.bg, style='padding-top: ' + ( opts.paddingTop == '0' || opts.paddingTop == undefined ? '0' : opts.paddingTop + 'px' ) + ';\
    padding-right: ' + ( opts.paddingRight == '0' || opts.paddingRight == undefined ? '0' : opts.paddingRight + 'px' ) + ';\
    padding-bottom: ' + ( opts.paddingBottom == '0' || opts.paddingBottom == undefined ? '0' : opts.paddingBottom + 'px' ) + ';\
    padding-left: ' + ( opts.paddingLeft == '0' || opts.paddingLeft == undefined ? '0' : opts.paddingLeft + 'px' ) + ';\
    border-top: ' + ( opts.borderTop ? opts.borderTop : '0' ) + ';\
    border-right: ' + ( opts.borderRight ? opts.borderRight : '0' ) + ';\
    border-bottom: ' + ( opts.borderBottom ? opts.borderBottom : '0' ) + ';\
    border-left: ' + ( opts.borderLeft ? opts.borderLeft : '0' ) + ';\
    width: ' + width + 'px;')
      .vid(style='display:none;')
        video(width=opts.vidWidth ? opts.vidWidth : width, controls='controls', poster=opts.vidImgSrc ? opts.vidImgSrc : 'http://placehold.jp/' + width + 'x' + calculatedVidImgWidth + '.png?text=|>', src=opts.vidSrc ? opts.vidSrc : 'https://bit.ly/2RtB5UV')
          a(href=opts.vidHref ? opts.vidHref : '#', target='_blank', title=opts.vidTitle ? opts.vidTitle : 'title', style='text-decoration: none; border: 0; outline: 0;')
            img(class=opts.responsive ? 'w100pc hauto' : '', src=opts.vidImgSrc ? opts.vidImgSrc : 'http://placehold.jp/' + width + 'x' + calculatedVidImgWidth + '.png?text=|>', alt=opts.vidTitle ? opts.vidTitle : 'alt', width=opts.vidImgWidth ? opts.vidImgWidth : width, border='0', style='display: block; border: none; width: ' + (opts.vidImgWidth ? opts.vidImgWidth : width) + 'px;')/
      .vid-fallback
        a(href=opts.vidHref ? opts.vidHref : '#', target='_blank', title=opts.vidTitle ? opts.vidTitle : 'title', style='text-decoration: none; border: 0; outline: 0;')
          img(class=opts.responsive ? 'w100pc hauto' : '', src=opts.vidImgSrc ? opts.vidImgSrc : 'http://placehold.jp/' + width + 'x' + calculatedVidImgWidth + '.png?text=|>', alt=opts.vidTitle ? opts.vidTitle : 'alt', width=opts.vidImgWidth ? opts.vidImgWidth : width, border='0', style='display: block; border: none; width: ' + (opts.vidImgWidth ? opts.vidImgWidth : width) + 'px;')/
      block