mixin wrapper(opts)
  - opts = opts || {}
  
  table.w100pc.backgroundTable(
    data-component='wrapper',
    width=( opts.width == 'full' ? '100%' : opts.width ? opts.width : '600' ),
    height=opts.height ? opts.height : 'auto',
    align='center',
    bgcolor=opts.bgColor ? opts.bgColor : color.bg,
    cellpadding='0',
    cellspacing='0',
    border='0',
    style=(
      'width: ' + ( opts.width == 'full' ? '100%' : opts.width ? ( opts.width + 'px' ) : '600px') + '; ' + 
      'height: ' + ( opts.height ? opts.height + 'px' : 'auto' ) + ';'
    )
  )
    tbody
      tr
        td.w100pc(
          data-component='wrapper',
          class=opts.customClass,
          width=( opts.width == 'full' ? '600' : opts.width ),
          valign='top',
          bgcolor=opts.bgColor ? opts.bgColor : color.bg,
          background=(
            ( opts.bulletproof && opts.bgSrc ) ? opts.bgSrc
            : opts.bulletproof ? 'http://placehold.jp/' + ( opts.width == 'full' ? '600' : opts.width ) + 'x' + ( Math.round( ( opts.width == 'full' ? '600' : opts.width ) / 3) * 2 ) + '.jpg' : 'none'
          ),
          style=(
            'padding-top: ' + ( opts.paddingTop == '0' || opts.paddingTop == undefined ? '0' : opts.paddingTop + 'px' ) + '; ' +
            'padding-right: ' + ( opts.paddingRight == '0' || opts.paddingRight == undefined ? '0' : opts.paddingRight + 'px' ) + '; ' +
            'padding-bottom: ' + ( opts.paddingBottom == '0' || opts.paddingBottom == undefined ? '0' : opts.paddingBottom + 'px' ) + '; ' +
            'padding-left: ' + ( opts.paddingLeft == '0' || opts.paddingLeft == undefined ? '0' : opts.paddingLeft + 'px' ) + '; ' +
            'border-top: ' + ( opts.borderTop ? opts.borderTop : '0' ) + '; ' +
            'border-right: ' + ( opts.borderRight ? opts.borderRight : '0' ) + '; ' +
            'border-bottom: ' + ( opts.borderBottom ? opts.borderBottom : '0' ) + '; ' +
            'border-left: ' + ( opts.borderLeft ? opts.borderLeft : '0' ) + '; ' +
            'width: ' + ( opts.width == 'full' ? '100%' : opts.width ? ( opts.width + 'px' ) : '600px' ) + ';' + 
            ( opts.bulletproof ? 
              ' background-color: ' + ( opts.bgColor ? opts.bgColor : color.bg ) + '; ' + 
              'background-image: url(' + ( opts.bgSrc ? opts.bgSrc: 'http://placehold.jp/' + ( opts.width == 'full' ? '600' : opts.width ) + 'x' + ( Math.round( ( opts.width == 'full' ? '600' : opts.width ) / 3 ) * 2 ) + '.jpg' ) + '); ' + 
              'background-position: top center; ' + 
              'background-repeat: no-repeat; ' + 
              'background-size: cover;' 
            : '')
            )
          )

          - if ( opts.bulletproof && opts.bgSrc )
            // -->
              <!--[if gte mso 9]>
              <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="#{opts.width == 'full' ? 'mso-width-percent:1000' : ('width:' + opts.width + 'px')};#{opts.height ? 'height:' + opts.height + 'px;' : 'auto'}">
                <v:fill type="tile" src="#{( opts.bgSrc ? opts.bgSrc: 'http://placehold.jp/' + (opts.width == 'full' ? '600' : opts.width) + 'x' + ( Math.round((opts.width == 'full' ? '600' : opts.width) / 3) * 2 ) + '.jpg' )}" color="#{opts.bgColor ? opts.bgColor : color.bg}" />
                <v:textbox #{opts.height ? '' : 'style="mso-fit-shape-to-text:true" '}inset="0,0,0,0">
              <![endif]--> <!--         
            div(data-component='wrapper')
              block      
            // -->
              <!--[if gte mso 9]>
                </v:textbox>
              </v:rect>
              <![endif]--> <!-- 
          - else
            block

mixin row(opts)
  - opts = opts || {}
  
  table.w100pc(
    data-component='row',
    width=opts.width ? opts.width : '600',
    align='center',
    bgcolor=opts.bgColor ? opts.bgColor : color.bg,
    cellpadding='0',
    cellspacing='0',
    border='0',
    style=(
      'width: ' + ( opts.width ? opts.width : '600' ) + 'px;'
      )
    )
    tbody
      tr
        td.w100pc(
          data-component='row',
          class=opts.noMobilePadding ? '' : 'pH',
          class=opts.customClass,
          width=opts.width ? opts.width : '600',
          align='center', valign='top',
          bgcolor=opts.bgColor ? opts.bgColor : color.bg,
          style=(
            'padding-top: ' + ( opts.paddingTop == '0' || opts.paddingTop == undefined ? '0' : opts.paddingTop + 'px' ) + '; ' +
            'padding-right: ' + ( opts.paddingRight == '0' || opts.paddingRight == undefined ? '0' : opts.paddingRight + 'px' ) + '; ' +
            'padding-bottom: ' + ( opts.paddingBottom == '0' || opts.paddingBottom == undefined ? '0' : opts.paddingBottom + 'px' ) + '; ' +
            'padding-left: ' + ( opts.paddingLeft == '0' || opts.paddingLeft == undefined ? '0' : opts.paddingLeft + 'px' ) + '; ' +
            'border-top: ' + ( opts.borderTop ? opts.borderTop : '0' ) + '; ' +
            'border-right: ' + ( opts.borderRight ? opts.borderRight : '0' ) + '; ' +
            'border-bottom: ' + ( opts.borderBottom ? opts.borderBottom : '0' ) + '; ' +
            'border-left: ' + ( opts.borderLeft ? opts.borderLeft : '0' ) + '; ' +
            'width: ' + ( opts.width ? opts.width : '600' ) + 'px;' )
          )
          table.w100pc(
            data-component='row',
            width=(
              ( opts.paddingRight && opts.paddingLeft ) ? ( ( opts.width ? opts.width : '600' ) - opts.paddingRight - opts.paddingLeft ) 
              : opts.paddingRight ? ( ( opts.width ? opts.width : '600' ) - opts.paddingRight )
              : opts.paddingLeft ? ( ( opts.width ? opts.width : '600' ) - opts.paddingLeft ) 
              : ( opts.width ? opts.width : '600' )
            ),
            dir=opts.direction ? opts.direction : 'ltr',
            align='center',
            bgcolor=opts.bgColor ? opts.bgColor : color.bg,
            cellpadding='0',
            cellspacing='0',
            border='0',
            style=(
              'width: ' + (
                ( opts.paddingRight && opts.paddingLeft ) ? ( ( opts.width ? opts.width : '600' ) - opts.paddingRight - opts.paddingLeft ) 
                : opts.paddingRight ? ( ( opts.width ? opts.width : '600' ) - opts.paddingRight )
                : opts.paddingLeft ? ( ( opts.width ? opts.width : '600' ) - opts.paddingLeft ) 
                : ( opts.width ? opts.width : '600' )
                ) 
                + 'px;'
              )
            )
            tbody
              tr
                block
                         
mixin subRow(opts)
  - opts = opts || {}
  
  tr
    td.w100pc(
      data-component='subRow',
      class=opts.customClass,
      width=opts.width ? opts.width : '600',
      align='center',
      valign=opts.valign? opts.valign : 'top',
      bgcolor=opts.bgColor ? opts.bgColor : color.bg,
      style=(
        'padding-top: ' + (opts.paddingTop == '0' || opts.paddingTop == undefined ? '0' : opts.paddingTop + 'px' ) + '; ' +
        'padding-right: ' + ( opts.paddingRight == '0' || opts.paddingRight == undefined ? '0' : opts.paddingRight + 'px' ) + '; ' +
        'padding-bottom: ' + ( opts.paddingBottom == '0' || opts.paddingBottom == undefined ? '0' : opts.paddingBottom + 'px' ) + '; ' +
        'padding-left: ' + ( opts.paddingLeft == '0' || opts.paddingLeft == undefined ? '0' : opts.paddingLeft + 'px' ) + '; ' +
        'border-top: ' + ( opts.borderTop ? opts.borderTop : '0' ) + '; ' +
        'border-right: ' + ( opts.borderRight ? opts.borderRight : '0' ) + '; ' +
        'border-bottom: ' + ( opts.borderBottom ? opts.borderBottom : '0' ) + '; ' +
        'border-left: ' + ( opts.borderLeft ? opts.borderLeft : '0' ) + '; ' +
        'width: ' + ( opts.width ? opts.width : '600' ) + 'px;' 
        )
      )
      table.w100pc(
        data-component='subRow',
        width=(
          ( opts.paddingRight && opts.paddingLeft ) ? ( ( opts.width ? opts.width : '600' ) - opts.paddingRight - opts.paddingLeft ) 
          : opts.paddingRight ? ( ( opts.width ? opts.width : '600' ) - opts.paddingRight )
          : opts.paddingLeft ? ( ( opts.width ? opts.width : '600' ) - opts.paddingLeft ) 
          : ( opts.width ? opts.width : '600' )
        ),
        dir=opts.direction ? opts.direction : 'ltr',
        align=opts.align ? opts.align : 'center',
        bgcolor=opts.bgColor ? opts.bgColor : color.bg,
        cellpadding='0',
        cellspacing='0',
        border='0',
        style=(
          'width: ' + (
            ( opts.paddingRight && opts.paddingLeft ) ? ( ( opts.width ? opts.width : '600' ) - opts.paddingRight - opts.paddingLeft ) 
            : opts.paddingRight ? ( ( opts.width ? opts.width : '600' ) - opts.paddingRight )
            : opts.paddingLeft ? ( ( opts.width ? opts.width : '600' ) - opts.paddingLeft ) 
            : ( opts.width ? opts.width : '600' )
            ) 
            + 'px;'
          )
      )
        tbody
          tr
            block

mixin column(opts)
  - opts = opts || {}

  - if (opts.width)
    - var width = opts.width;
    - var calculatedWidth = ( opts.paddingRight && opts.paddingLeft ) ? ( width - opts.paddingRight - opts.paddingLeft ) : opts.paddingRight ? ( width -          opts.paddingRight ) : opts.paddingLeft ? ( width - opts.paddingLeft ) : width;
  - if (opts.width == '')
    - var width = '600';

  - if ( opts.mobileWidth == '100%' )
    - var mobileWidth = 'w100pc full';
  - else if ( opts.mobileWidth == '95%' )
    - var mobileWidth = 'w95pc';
  - else if ( opts.mobileWidth == '90%' )
    - var mobileWidth = 'w90pc';
  - else if ( opts.mobileWidth == '85%' )
    - var mobileWidth = 'w85pc';
  - else if ( opts.mobileWidth == '80%' )
    - var mobileWidth = 'w80pc';
  - else if ( opts.mobileWidth == '75%' )
    - var mobileWidth = 'w75pc';
  - else if ( opts.mobileWidth == '70%' )
    - var mobileWidth = 'w70pc';
  - else if ( opts.mobileWidth == '65%' )
    - var mobileWidth = 'w65pc';
  - else if ( opts.mobileWidth == '60%' )
    - var mobileWidth = 'w60pc';
  - else if ( opts.mobileWidth == '55%' )
    - var mobileWidth = 'w55pc';
  - else if ( opts.mobileWidth == '50%' )
    - var mobileWidth = 'w50pc';
  - else if ( opts.mobileWidth == '45%' )
    - var mobileWidth = 'w45pc';
  - else if ( opts.mobileWidth == '30%' )
    - var mobileWidth = 'w30pc';
  - else if ( opts.mobileWidth == '25%' )
    - var mobileWidth = 'w25pc';
  - else if ( opts.mobileWidth == '20%' )
    - var mobileWidth = 'w20pc';
  - else if ( opts.mobileWidth == '15%' )
    - var mobileWidth = 'w15pc';
  - else if ( opts.mobileWidth == '10%' )
    - var mobileWidth = 'w10pc';
  - else if ( opts.mobileWidth == '5%' )
    - var mobileWidth = 'w5pc';
  - else if ( opts.mobileWidth == 'hide' )
    - var mobileWidth = 'hide';
  
  th(
    data-component='column',
    class=mobileWidth,
    class=opts.customClass,
    width=width,
    dir=opts.direction ? opts.direction : 'ltr',
    align=opts.align ? opts.align : 'center',
    valign=opts.valign ? opts.valign : 'top',
    bgcolor=opts.bgColor ? opts.bgColor : color.bg,
    background=(
      ( opts.width && opts.bulletproof && opts.bgSrc ) ? opts.bgSrc
      : opts.bulletproof ? 'http://placehold.jp/' + ( opts.width ? opts.width : '600' ) + 'x' + ( Math.round( ( opts.width ? opts.width : '600' ) / 3 ) * 2 ) + '.jpg' : 'none'
    ),
    style=(
      'padding-top: ' + ( opts.paddingTop == '0' || opts.paddingTop == undefined ? '0' : opts.paddingTop + 'px' ) + '; ' +
      'padding-right: ' + ( opts.paddingRight == '0' || opts.paddingRight == undefined ? '0' : opts.paddingRight + 'px' ) + '; ' +
      'padding-bottom: ' + ( opts.paddingBottom == '0' || opts.paddingBottom == undefined ? '0' : opts.paddingBottom + 'px' ) + '; ' +
      'padding-left: ' + ( opts.paddingLeft == '0' || opts.paddingLeft == undefined ? '0' : opts.paddingLeft + 'px' ) + '; ' +
      'border-top: ' + ( opts.borderTop ? opts.borderTop : '0' ) + '; ' +
      'border-right: ' + ( opts.borderRight ? opts.borderRight : '0' ) + '; ' +
      'border-bottom: ' + ( opts.borderBottom ? opts.borderBottom : '0' ) + '; ' +
      'border-left: ' + ( opts.borderLeft ? opts.borderLeft : '0' ) + ';' +
      ( opts.width ?
        ' width: ' + width + 'px;'
      : '') +
      ( opts.width && opts.bulletproof ? 
        ' background-color: ' + ( opts.bgColor ? opts.bgColor : color.bg ) + '; ' + 
        'background-image: url(' + ( opts.bgSrc ? opts.bgSrc: 'http://placehold.jp/' + ( opts.width ? opts.width : '600' ) + 'x' + ( Math.round( ( opts.width ? opts.width : '600' ) / 3 ) * 2 ) + '.jpg' ) + '); ' + 
        'background-position: top center; ' + 
        'background-repeat: no-repeat; ' + 
        'background-size: cover;' 
      : '') +
      (
        opts.msohide ?
        ' mso-hide: all;'
      : '')
    )
  )
  
    - if ( opts.width && opts.bulletproof )
      // -->
        <!--[if gte mso 9]>
        <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="width: #{width}px;">
          <v:fill type="frame" src="#{( opts.bgSrc ? opts.bgSrc: 'http://placehold.jp/' + width + 'x' + ( Math.round( width / 3 ) * 2 ) + '.jpg' )}" color="#{opts.bgColor ? opts.bgColor : color.bg}" />
          <v:textbox style="mso-fit-shape-to-text:true" inset="0,0,0,0">
        <![endif]--> <!--
      div(
        data-component='column',
        style=(
          (
            opts.msohide ?
            ' mso-hide: all;'
          : '')
        )
      )
        table.w100pc(
          data-component='column',
          width=calculatedWidth,
          align=opts.align ? opts.align : 'center',
          bgcolor=opts.bgColor ? opts.bgColor : color.bg,
          cellpadding='0',
          cellspacing='0',
          border='0',
          style=(
            ( opts.width ?
            'width: ' + calculatedWidth + 'px; '
              : '') +
            (
              opts.msohide ?
              'mso-hide: all;'
            : '')
          )
        )
        - if (opts.width)
          tbody
            block
        - else
          block
      // -->
        <!--[if gte mso 9]>
          </v:textbox>
        </v:rect>
        <![endif]--> <!-- 
    - else

      table.w100pc(
        data-component='column',
        width=calculatedWidth,
        align=opts.align ? opts.align : 'center',
        bgcolor=opts.bgColor ? opts.bgColor : color.bg,
        cellpadding='0',
        cellspacing='0',
        border='0',
        style=(
            ( opts.width ?
            'width: ' + calculatedWidth + 'px; '
              : '') +
          (
            opts.msohide ?
            ' mso-hide: all;'
          : '')
        )
      )
        - if (opts.width)
          tbody
            block
        - else
          block
          
mixin img(opts)
  - opts = opts || {}

  tr
    td.w100pc(
      data-component='img',
      class=opts.customClass,
      width=opts.width ? opts.width : '600',
      align=opts.align ? opts.align : 'center',
      valign=opts.valign ? opts.valign : 'top',
      bgcolor=opts.bgColor ? opts.bgColor : color.bg,
      style=(
        'padding-top: ' + ( opts.paddingTop == '0' || opts.paddingTop == undefined ? '0' : opts.paddingTop + 'px' ) + '; ' +
        'padding-right: ' + ( opts.paddingRight == '0' || opts.paddingRight == undefined ? '0' : opts.paddingRight + 'px' ) + '; ' +
        'padding-bottom: ' + ( opts.paddingBottom == '0' || opts.paddingBottom == undefined ? '0' : opts.paddingBottom + 'px' ) + '; ' +
        'padding-left: ' + ( opts.paddingLeft == '0' || opts.paddingLeft == undefined ? '0' : opts.paddingLeft + 'px' ) + '; ' +
        'border-top: ' + ( opts.borderTop ? opts.borderTop : '0' ) + '; ' +
        'border-right: ' + ( opts.borderRight ? opts.borderRight : '0' ) + '; ' +
        'border-bottom: ' + ( opts.borderBottom ? opts.borderBottom : '0' ) + '; ' +
        'border-left: ' + ( opts.borderLeft ? opts.borderLeft : '0' ) + '; ' +
        'width: ' + ( opts.width ? ( opts.width + 'px' ) : '600px' ) + ';'
      )
    )
      - if (opts.removeLink)
        img(
          class=opts.responsive ? 'w100pc hauto' : '',
          src=opts.imgSrc ? opts.imgSrc : 'http://placehold.jp/' + (
              ( opts.paddingRight && opts.paddingLeft ) ? ( ( opts.width ? opts.width : '600' ) - opts.paddingRight - opts.paddingLeft ) 
              : opts.paddingRight ? ( ( opts.width ? opts.width : '600' ) - opts.paddingRight )
              : opts.paddingLeft ? ( ( opts.width ? opts.width : '600' ) - opts.paddingLeft ) 
              : ( opts.width ? opts.width : '600' )
              ) + 'x' + ( Math.round( ( (
              ( opts.paddingRight && opts.paddingLeft ) ? ( ( opts.width ? opts.width : '600' ) - opts.paddingRight - opts.paddingLeft ) 
              : opts.paddingRight ? ( ( opts.width ? opts.width : '600' ) - opts.paddingRight )
              : opts.paddingLeft ? ( ( opts.width ? opts.width : '600' ) - opts.paddingLeft ) 
              : ( opts.width ? opts.width : '600' )
              ) / 3 ) * 2 ) ) + '.jpg',
          alt=opts.imgTitle ? opts.imgTitle : 'alt',
          width=(
            ( opts.paddingRight && opts.paddingLeft ) ? ( ( opts.width ? opts.width : '600' ) - opts.paddingRight - opts.paddingLeft ) 
            : opts.paddingRight ? ( ( opts.width ? opts.width : '600' ) - opts.paddingRight )
            : opts.paddingLeft ? ( ( opts.width ? opts.width : '600' ) - opts.paddingLeft ) 
            : ( opts.width ? opts.width : '600' )
          ),
          border='0',
          style=(
            'display: block; ' +
            'border: none; ' +
            'width: ' + (
              ( opts.paddingRight && opts.paddingLeft ) ? ( ( opts.width ? opts.width : '600' ) - opts.paddingRight - opts.paddingLeft ) 
              : opts.paddingRight ? ( ( opts.width ? opts.width : '600' ) - opts.paddingRight )
              : opts.paddingLeft ? ( ( opts.width ? opts.width : '600' ) - opts.paddingLeft ) 
              : ( opts.width ? opts.width : '600' )
              ) 
              + 'px;'
          )
        )
        block
        
      - else
        a(
          href=opts.imgHref ? opts.imgHref : '#',
          target='_blank',
          title=opts.imgTitle ? opts.imgTitle : 'title',
          style=(
            'text-decoration: none; ' +
            'border: 0; ' + 
            'outline: 0;'
            )
          )
          img(
            class=opts.responsive == 'true' ? 'w100pc hauto' : opts.responsive == 'false' ? '' : '',
            src=opts.imgSrc ? opts.imgSrc : 'http://placehold.jp/' + (
              ( opts.paddingRight && opts.paddingLeft ) ? ( ( opts.width ? opts.width : '600' ) - opts.paddingRight - opts.paddingLeft ) 
              : opts.paddingRight ? ( ( opts.width ? opts.width : '600' ) - opts.paddingRight )
              : opts.paddingLeft ? ( ( opts.width ? opts.width : '600' ) - opts.paddingLeft ) 
              : ( opts.width ? opts.width : '600' )
              ) + 'x' + ( Math.round( ( (
              ( opts.paddingRight && opts.paddingLeft ) ? ( ( opts.width ? opts.width : '600' ) - opts.paddingRight - opts.paddingLeft ) 
              : opts.paddingRight ? ( ( opts.width ? opts.width : '600' ) - opts.paddingRight )
              : opts.paddingLeft ? ( ( opts.width ? opts.width : '600' ) - opts.paddingLeft ) 
              : ( opts.width ? opts.width : '600' )
              ) / 3 ) * 2 ) ) + '.jpg',
            alt=opts.imgTitle ? opts.imgTitle : 'alt',
            width=(
              ( opts.paddingRight && opts.paddingLeft ) ? ( ( opts.width ? opts.width : '600' ) - opts.paddingRight - opts.paddingLeft ) 
              : opts.paddingRight ? ( ( opts.width ? opts.width : '600' ) - opts.paddingRight )
              : opts.paddingLeft ? ( ( opts.width ? opts.width : '600' ) - opts.paddingLeft ) 
              : ( opts.width ? opts.width : '600' )
            ),
            border='0',
            style=(
              'display: block; ' +
              'border: none; ' +
              'width: ' + (
                ( opts.paddingRight && opts.paddingLeft ) ? ( ( opts.width ? opts.width : '600' ) - opts.paddingRight - opts.paddingLeft ) 
                : opts.paddingRight ? ( ( opts.width ? opts.width : '600' ) - opts.paddingRight )
                : opts.paddingLeft ? ( ( opts.width ? opts.width : '600' ) - opts.paddingLeft ) 
                : ( opts.width ? opts.width : '600' )
                ) 
                + 'px;'
            )
          )
          block
          
mixin txt(opts)
  - opts = opts || {}
  
  - if ( opts.mobileAlignment == 'center' )
    - var mobileAlignment = 'aH--c';
  - if ( opts.mobileAlignment == 'left' )
    - var mobileAlignment = 'aH--l';
  - if ( opts.mobileAlignment == 'right' )
    - var mobileAlignment = 'aH--r';
  
  tr
    td.w100pc(
      data-component='txt',
      class=mobileAlignment,
      class=opts.customClass, 
      width=opts.width ? opts.width : '600',
      align=opts.align ? opts.align : 'center', 
      valign=opts.valign ? opts.valign : 'top',
      bgcolor=opts.bgColor ? opts.bgColor : color.bg,
      style=(
        'padding-top: ' + ( opts.paddingTop == '0' || opts.paddingTop == undefined ? '0' : opts.paddingTop + 'px' ) + '; ' +
        'padding-right: ' + ( opts.paddingRight == '0' || opts.paddingRight == undefined ? '0' : opts.paddingRight + 'px' ) + '; ' +
        'padding-bottom: ' + ( opts.paddingBottom == '0' || opts.paddingBottom == undefined ? '0' : opts.paddingBottom + 'px' ) + '; ' +
        'padding-left: ' + ( opts.paddingLeft == '0' || opts.paddingLeft == undefined ? '0' : opts.paddingLeft + 'px' ) + '; ' +
        'border-top: ' + ( opts.borderTop ? opts.borderTop : '0' ) + '; ' +
        'border-right: ' + ( opts.borderRight ? opts.borderRight : '0' ) + '; ' +
        'border-bottom: ' + ( opts.borderBottom ? opts.borderBottom : '0' ) + '; ' +
        'border-left: ' + ( opts.borderLeft ? opts.borderLeft : '0' ) + '; ' +
        'font-family: ' + ( opts.fontFamily ? opts.fontFamily : font.default !== undefined ? font.default : 'Helvetica, sans-serif' ) + '; ' +
        'font-size: ' + ( opts.fontSize ? opts.fontSize : '14' ) + 'px; ' +
        'font-weight: ' + ( opts.fontWeight ? opts.fontWeight : 'normal' ) + '; ' +
        'line-height: ' + ( opts.lineHeight ? opts.lineHeight : '21' ) + 'px; ' +
        'color: ' + ( opts.fontColor ? opts.fontColor : color.txt ) + '; ' +
        'width: ' + ( opts.width ? opts.width : '600' ) + 'px;'
      )
    )
      | !{!opts.txt ? opts.txt = 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.' : opts.txt}
      block

mixin btn(opts)
  - opts = opts || {}
  - ( opts.btnBorderRadius && !opts.bulletproof ? width = undefined : width = ( opts.width ? opts.width : '600' ) )
  
  tr
    td.w100pc(
      data-component='btn',
      class=opts.customClass,
      width=width,
      align=opts.align ? opts.align : 'center',
      valign=opts.valign ? opts.valign : 'top',
      bgcolor=opts.bgColor ? opts.bgColor : color.bg,
      style=(
        'padding-top: ' + ( opts.paddingTop == '0' || opts.paddingTop == undefined ? '0' : opts.paddingTop + 'px' ) + '; ' +
        'padding-right: ' + ( opts.paddingRight == '0' || opts.paddingRight == undefined ? '0' : opts.paddingRight + 'px' ) + '; ' +
        'padding-bottom: ' + ( opts.paddingBottom == '0' || opts.paddingBottom == undefined ? '0' : opts.paddingBottom + 'px' ) + '; ' +
        'padding-left: ' + ( opts.paddingLeft == '0' || opts.paddingLeft == undefined ? '0' : opts.paddingLeft + 'px' ) + '; ' +
        'border-top: ' + ( opts.borderTop ? opts.borderTop : '0' ) + '; ' +
        'border-right: ' + ( opts.borderRight ? opts.borderRight : '0' ) + '; ' +
        'border-bottom: ' + ( opts.borderBottom ? opts.borderBottom : '0' ) + '; ' +
        'border-left: ' + ( opts.borderLeft ? opts.borderLeft : '0' ) + ';' + ( opts.btnBorderRadius ? '' : 'width: ' + width + 'px;' ) 
      )
    )
      table.w100pc(
        data-component='btn',
        align=opts.align ? opts.align : 'center',
        bgcolor=opts.bgColor ? opts.bgColor : color.bg, border='0',
        cellpadding='0',
        cellspacing='0',
        width=(
            ( opts.paddingRight && opts.paddingLeft ) ? ( ( opts.width ? opts.width : '600' ) - opts.paddingRight - opts.paddingLeft ) 
            : opts.paddingRight ? ( ( opts.width ? opts.width : '600' ) - opts.paddingRight )
            : opts.paddingLeft ? ( ( opts.width ? opts.width : '600' ) - opts.paddingLeft ) 
            : ( opts.width ? opts.width : '600' )
          ),
        style=(
          opts.btnBorderRadius ? '' : ( 'width: ' + width + 'px;' )
        )
      )
        tbody
          tr
            - if ( opts.bulletproof )
              - opts.btnBorder == undefined || opts.btnBorder == '0' ? border = 'f' : border = opts.btnBorder.split(' ')[2] 
              td(
                data-component='btn',
                align=opts.align ? opts.align : 'center'
              )
                div
                  // -->
                    <!--[if mso]>
                      <v:#{opts.btnBorderRadius ? 'roundrect' : 'rect'} xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="#{opts.btnHref ? opts.btnHref : '#'}" style="height:#{opts.btnHeight == undefined ? '40px' : opts.btnHeight == '0' ? '0' : opts.btnHeight + 'px'};v-text-anchor:middle;width:#{opts.btnWidth == undefined ? '200px' : opts.btnWidth == '0' ? '0' : opts.btnWidth + 'px'};" arcsize="#{opts.btnBorderRadius == undefined || opts.btnBorderRadius == '0' ? '0' : (opts.btnBorderRadius * 2.5) + '%'}" #{opts.btnBorder == undefined || opts.btnBorder == '0' ? 'stroke' : 'strokecolor'}="#{border}" fillcolor="#{opts.btnColor ? opts.btnColor : color.hlight}">
                        <w:anchorlock/>
                        <center style="color:#{opts.btnTxtColor ? opts.btnTxtColor : color.bg}; font-family:#{opts.btnFontFamily ? opts.btnFontFamily : font.default !== undefined ? font.default : 'Helvetica, sans-serif'}; font-size:#{opts.fontSize ? opts.fontSize : '14'}px; font-weight:#{opts.btnFontWeight ? opts.btnFontWeight : 'normal'};">#{opts.btnTxt ? opts.btnTxt : 'Call-to-action'}</center>
                      </v:roundrect>
                    <![endif]--> <!--
                  a(
                    href=opts.btnHref ? opts.btnHref : '#',
                    title="_blank",
                    style=(
                      'background-color: ' + ( opts.btnColor ? opts.btnColor : color.hlight ) + '; ' +
                      'border: ' + ( opts.btnBorder ? opts.btnBorder : '0' ) + '; ' +
                      'border-radius:' + ( opts.btnBorderRadius == undefined || opts.btnBorderRadius == '0' ? '0' : opts.btnBorderRadius + 'px' ) + '; ' +
                      'color: ' + ( opts.btnTxtColor ? opts.btnTxtColor : color.bg ) + '; ' +
                      'display:inline-block; ' +
                      'font-family: ' + ( opts.btnFontFamily ? opts.btnFontFamily : font.default !== undefined ? font.default : 'Helvetica, sans-serif' ) + '; ' +
                      'font-size: ' + ( opts.btnFontSize ? opts.btnFontSize : '14' ) + 'px; ' +
                      'font-weight: ' + ( opts.btnFontWeight ? opts.btnFontWeight : 'normal' ) + '; ' +
                      'line-height: ' + ( opts.btnHeight == undefined ? (opts.btnFontSize * 3) + 'px' : opts.btnHeight == '0' ? '0' : opts.btnHeight + 'px' ) + '; ' +
                      'text-align:center; ' +
                      'text-decoration:none; ' +
                      'width: ' + (opts.btnWidth == undefined ? '200px' : opts.btnWidth == '0' ? '0' : opts.btnWidth + 'px' ) + '; ' +
                      '-webkit-text-size-adjust:none; ' +
                      'mso-hide:all;'
                    )
                  )
                    span(
                      style=(
                        'color: ' + ( opts.btnTxtColor ? opts.btnTxtColor : color.bg ) + '; ' +
                        'font-family: ' + ( opts.btnFontFamily ? opts.btnFontFamily : font.default !== undefined ? font.default : 'Helvetica, sans-serif' ) + '; ' +
                        'font-size: ' + ( opts.btnFontSize ? opts.btnFontSize : '14' ) + 'px; ' +
                        'font-weight: ' + ( opts.btnFontWeight ? opts.btnFontWeight : 'normal' ) + '; ' +
                        'line-height: ' + ( opts.btnHeight == undefined ? (opts.btnFontSize * 3) + 'px' : opts.btnHeight == '0' ? '0' : opts.btnHeight + 'px' ) + ';'
                      ) 
                    )
                      | !{opts.btnTxt ? opts.btnTxt : 'Call-to-action'}
                        
            - else
            
              - opts.btnBorderRadius ? width = undefined : width = (opts.btnWidth ? opts.btnWidth : '200')
            
              td(
                data-component='btn',
                width=width,
                align='center',
                valign='middle',
                bgcolor=opts.btnColor ? opts.btnColor : color.hlight,
                style=(
                  ( opts.btnBorderRadius ? 'border-radius:' + ( opts.btnBorderRadius ? opts.btnBorderRadius + 'px' : '200px' ) + ';' :
                  'padding-top: ' + ( opts.btnPaddingTop == undefined ? '16px' : opts.btnPaddingTop == '0' ? '0' : opts.btnPaddingTop + 'px' ) + '; ' + 
                  'padding-right: ' + ( opts.btnPaddingRight == undefined ? '16px' : opts.btnPaddingRight == '0' ? '0' : opts.btnPaddingRight + 'px' ) + '; ' + 'padding-right: ' + ( opts.btnPaddingRight == undefined ? '16px' : opts.btnPaddingRight == '0' ? '0' : opts.btnPaddingRight + 'px' ) + '; ' + 'padding-bottom: ' + ( opts.btnPaddingBottom == undefined ? '16px' : opts.btnPaddingBottom == '0' ? '0' : opts.btnPaddingBottom + 'px' ) + '; ' + 'padding-left: ' + ( opts.btnPaddingLeft == undefined ? '16px' : opts.btnPaddingLeft == '0' ? '0' : opts.btnPaddingLeft + 'px' ) + '; ' + 
                  'border: ' + ( opts.btnBorder ? opts.btnBorder : '0' ) + '; ') +

                  'font-family: ' + ( opts.btnFontFamily ? opts.btnFontFamily : font.default !== undefined ? font.default : 'Helvetica, sans-serif' ) + '; ' +
                  'font-size: ' + ( opts.btnFontSize ? opts.btnFontSize : '14' ) + 'px; ' +
                  'font-weight: ' + ( opts.btnFontWeight ? opts.btnFontWeight : 'normal' ) + '; ' +
                  'line-height: ' + ( opts.btnLineHeight ? opts.btnLineHeight : '14' ) + 'px; ' +
                  'color: ' + ( opts.btnTxtColor ? opts.btnTxtColor : color.bg ) + ';' + ( opts.btnBorderRadius ? '' : 'width: ' + width + 'px;' ) 
                )
              )

                a(
                  href=opts.btnHref ? opts.btnHref : '#',
                  target='_blank', 
                  title=opts.btnTitle ? opts.btnTitle : 'title',
                  style=(
                    'text-decoration: none; border: 0; outline: 0; color:' + (opts.btnTxtColor ? opts.btnTxtColor : color.bg) + '; ' + ( opts.btnBorderRadius ? 'border-radius:' + opts.btnBorderRadius + 'px; ' + 
                    'background-color: ' + ( opts.btnColor ? opts.btnColor : color.hlight ) + '; ' + 
                    'display: block; ' + 
                    'padding-top: ' + ( opts.btnPaddingTop == undefined ? '16px' : opts.btnPaddingTop == '0' ? '0' : opts.btnPaddingTop + 'px' ) + '; ' + 
                    'padding-right: ' + ( opts.btnPaddingRight == undefined ? '16px' : opts.btnPaddingRight == '0' ? '0' : opts.btnPaddingRight + 'px' ) + '; ' + 'padding-bottom: ' + ( opts.btnPaddingBottom == undefined ? '16px' : opts.btnPaddingBottom == '0' ? '0' : opts.btnPaddingBottom + 'px' ) + '; ' + 'padding-left: ' + ( opts.btnPaddingLeft == undefined ? '16px' : opts.btnPaddingLeft == '0' ? '0' : opts.btnPaddingLeft + 'px' ) + '; ' + 
                    'border: ' + ( opts.btnBorder ? opts.btnBorder : '0' ) + '; ' + 
                    'width: ' + ( opts.btnWidth ? opts.btnWidth + 'px' : '200px' ) + ';' : '')
                  )
                )
                  span(
                    style=(
                      'color: ' + ( opts.btnTxtColor ? opts.btnTxtColor : color.bg ) + '; ' +
                      'font-family: ' + ( opts.btnFontFamily ? opts.btnFontFamily : font.default !== undefined ? font.default : 'Helvetica, sans-serif' ) + '; ' +
                      'font-size: ' + ( opts.btnFontSize ? opts.btnFontSize : '14' ) + 'px; ' +
                      'font-weight: ' + ( opts.btnFontWeight ? opts.btnFontWeight : 'normal' ) + ';'
                    )
                  )
                    | !{opts.btnTxt ? opts.btnTxt : 'Call-to-action'}

mixin vid(opts)
  - opts = opts || {}
  - !opts.width ? width = '600' : width = opts.width
  - var calculatedVidImgWidth = Math.round((width / 16) * 9)

  tr
    td.w100pc(data-component='vid', class=opts.customClass, width=width, align=opts.align ? opts.align : 'center', valign=opts.valign ? opts.valign : 'top', bgcolor=opts.bgColor ? opts.bgColor : color.bg, style='padding-top: ' + ( opts.paddingTop == '0' || opts.paddingTop == undefined ? '0' : opts.paddingTop + 'px' ) + ';\
    padding-right: ' + ( opts.paddingRight == '0' || opts.paddingRight == undefined ? '0' : opts.paddingRight + 'px' ) + ';\
    padding-bottom: ' + ( opts.paddingBottom == '0' || opts.paddingBottom == undefined ? '0' : opts.paddingBottom + 'px' ) + ';\
    padding-left: ' + ( opts.paddingLeft == '0' || opts.paddingLeft == undefined ? '0' : opts.paddingLeft + 'px' ) + ';\
    border-top: ' + ( opts.borderTop ? opts.borderTop : '0' ) + ';\
    border-right: ' + ( opts.borderRight ? opts.borderRight : '0' ) + ';\
    border-bottom: ' + ( opts.borderBottom ? opts.borderBottom : '0' ) + ';\
    border-left: ' + ( opts.borderLeft ? opts.borderLeft : '0' ) + ';\
    width: ' + width + 'px;')
      .vid(style='display:none;')
        video(width=opts.vidWidth ? opts.vidWidth : width, controls='controls', poster=opts.vidImgSrc ? opts.vidImgSrc : 'http://placehold.jp/' + width + 'x' + calculatedVidImgWidth + '.png?text=|>', src=opts.vidSrc ? opts.vidSrc : 'https://bit.ly/2RtB5UV')
          a(href=opts.vidHref ? opts.vidHref : '#', target='_blank', title=opts.vidTitle ? opts.vidTitle : 'title', style='text-decoration: none; border: 0; outline: 0;')
            img(class=opts.responsive ? 'w100pc hauto' : '', src=opts.vidImgSrc ? opts.vidImgSrc : 'http://placehold.jp/' + width + 'x' + calculatedVidImgWidth + '.png?text=|>', alt=opts.vidTitle ? opts.vidTitle : 'alt', width=opts.vidImgWidth ? opts.vidImgWidth : width, border='0', style='display: block; border: none; width: ' + (opts.vidImgWidth ? opts.vidImgWidth : width) + 'px;')/
      .vid-fallback
        a(href=opts.vidHref ? opts.vidHref : '#', target='_blank', title=opts.vidTitle ? opts.vidTitle : 'title', style='text-decoration: none; border: 0; outline: 0;')
          img(class=opts.responsive ? 'w100pc hauto' : '', src=opts.vidImgSrc ? opts.vidImgSrc : 'http://placehold.jp/' + width + 'x' + calculatedVidImgWidth + '.png?text=|>', alt=opts.vidTitle ? opts.vidTitle : 'alt', width=opts.vidImgWidth ? opts.vidImgWidth : width, border='0', style='display: block; border: none; width: ' + (opts.vidImgWidth ? opts.vidImgWidth : width) + 'px;')/
      block

mixin carousel(opts)
  - opts = opts || {}

  // Carousel
  tr
    td.w100pc(
      data-component='carousel',
      class=opts.customClass,
      width=opts.width ? opts.width : '550',
      align=opts.align ? opts.align : 'center',
      valign=opts.valign ? opts.valign : 'top',
      bgcolor=opts.bgColor ? opts.bgColor : color.bg,
      style=(
        'padding-top: ' + ( opts.paddingTop == '0' || opts.paddingTop == undefined ? '0' : opts.paddingTop + 'px' ) + '; ' +
        'padding-right: ' + ( opts.paddingRight == '0' || opts.paddingRight == undefined ? '0' : opts.paddingRight + 'px' ) + '; ' +
        'padding-bottom: ' + ( opts.paddingBottom == '0' || opts.paddingBottom == undefined ? '0' : opts.paddingBottom + 'px' ) + '; ' +
        'padding-left: ' + ( opts.paddingLeft == '0' || opts.paddingLeft == undefined ? '0' : opts.paddingLeft + 'px' ) + '; ' +
        'border-top: ' + ( opts.borderTop ? opts.borderTop : '0' ) + '; ' +
        'border-right: ' + ( opts.borderRight ? opts.borderRight : '0' ) + '; ' +
        'border-bottom: ' + ( opts.borderBottom ? opts.borderBottom : '0' ) + '; ' +
        'border-left: ' + ( opts.borderLeft ? opts.borderLeft : '0' ) + '; ' +
        'width: ' + ( opts.width ? ( opts.width + 'px' ) : '550px' ) + ';'
      )
    )
      // -->
        <!--[if !mso]> <!--
      .carousel
        block
        
      // -->
        <![endif]--> <!--

      // -->
        <!--[if mso]>
        <div class="page page-1">
          <a href="#{ opts.carouselFallbackHref }">
            <img src="#{ opts.carouselFallbackSrc }" />
          </a>
        </div>
        <![endif]--> <!--

mixin carouselIndex(opts)
  - opts = opts || {}

    input.radio(
      checked=( opts.radioChecked ? 'checked' : undefined ),
      class='radio-' + opts.radioIndex,
      id='radio-' + opts.radioIndex,
      name='radio',
      type='radio',
      style=(
        'display: none; ' +
        'mso-hide: all;'
      )
    )

mixin carouselContent(opts)
  - opts = opts || {}

  .content.w100pc(
    style=(
      'width: ' + ( opts.width ? opts.width : '550' ) + 'px; ' +
      'display: table; ' +
      'table-layout: fixed; ' +
      'text-align: center;'
    )
  )
    block

mixin carouselSwitch(opts)
  - opts = opts || {}

  // Carousel Switch
  a.switch(
    class='switch-' + opts.radioIndex,
    href='#',
    title='switch-' + opts.radioIndex,
    style=(
      'display: inline-block; ' +
      'overflow: hidden; ' +
      'text-decoration: none; ' +
      'border: 0; ' + 
      'outline: 0;'
    )
  )
    label(
      for='radio-' + opts.radioIndex
    )
      img(
        src=opts.imgSrc ? opts.imgSrc : 'http://placehold.jp/50x35.jpg',
        alt=opts.imgTitle ? opts.imgTitle : 'switch-' + opts.radioIndex,
        width=opts.width ? opts.width : '50',
        border='0',
        style=(
          'border: 2px solid #FFFFFF; ' +
          'display: block; ' +
          'width: ' + ( opts.width ? opts.width : '50' ) + 'px;'
        )
      )

mixin carouselActual

  table.actual(
    style=(
      'padding-bottom: 8px; ' +
      'caption-side: top; ' +
      'display: table-caption; ' +
      'table-layout: fixed;'
    )
  )
    tbody
      tr
        block

mixin carouselTogglePrev(opts)
  - opts = opts || {}
  - index = 0;

  // Toggle Previous
  td.arrowIcons(
    style=(
      'display: none; ' +
      'mso-hide: all;'
    )
  )
    .previous-icons(
      style=(
        'display: none; ' +
        'mso-hide: all;' 
      )
    )
      while index < opts.radioCount

        label.previous(
          class='previous-' + ( index++ + 1 ),
          for='radio-' + index
        )
          img(
            src=( opts.toggleImgSrc ? opts.toggleImgSrc : 'http://placehold.jp/14/ffffff/000000/16x16.png?text=%3C' ),
            width='16',
            border='0',
            style=(
              'border: none; ' +
              'width: 16px;'
            )
          )

mixin carouselPageWrapper

  // Carousel Page
  td
    div
      block

mixin carouselPage(opts)
  - opts = opts || {}

  div.page(
    class='page-' + opts.radioIndex
    style=(
      ( opts.firstpage ? '' : 'display: none; mso-hide: all;' )
    )
  )
    a(
      href=opts.imgHref ? opts.imgHref : '#',
      target='_blank',
      title=opts.imgTitle ? opts.imgTitle : 'title',
      style=(
        'text-decoration: none; ' +
        'border: 0; ' + 
        'outline: 0;'
        )
    )
      img(
        src=opts.imgSrc ? opts.imgSrc : 'http://placehold.jp/550x350.png',
        alt=opts.imgTitle ? opts.imgTitle : 'switch-' + opts.radioIndex,
        width=opts.width ? opts.width : '550',
        border='0',
        style=(
          'display: block; ' +
          'border: none; ' +
          'width: ' + ( opts.width ? opts.width : '550' ) + 'px;'
        )
      )

mixin carouselToggleNext(opts)
  - opts = opts || {}
  - index = 0;

  // Toggle Next
  td.arrowIcons(
    style=(
      'display: none; ' +
      'mso-hide: all;'
    )
  )
    .next-icons(
      style=(
        'display: none; ' +
        'mso-hide: all;' 
      )
    )
      while index < opts.radioCount

        label.next(
          class='next-' + ( index++ + 1 ),
          for='radio-' + index
        )
          img(
            src=( opts.toggleImgSrc ? opts.toggleImgSrc : 'http://placehold.jp/14/ffffff/000000/16x16.png?text=%3E' ),
            width='16',
            border='0',
            style=(
              'border: none; ' +
              'width: 16px;'
            )
          )
