mixin wrapper(opts)
  - var opts = opts || {};
  
  table.w100pc.backgroundTable.zwrapper(width=opts.width ? opts.width : '600', align='center', bgcolor=opts.bgColor ? opts.bgColor : color.bg, cellpadding='0', cellspacing='0', border='0', style='width: ' + (opts.width == 'full' ? '100%' : opts.width ? (opts.width + 'px') : '600px') + ';')
    tbody
      tr
        td.w100pc.zwrapper(width=opts.width ? opts.width : '600', align='center', valign='top', bgcolor=opts.bgColor ? opts.bgColor : color.bg, background=opts.bgSrc ? opts.bgSrc : 'none', style='padding-top: ' + ( opts.paddingTop ? opts.paddingTop : '0') + 'px;\
        padding-right: ' + ( opts.paddingRight ? opts.paddingRight : '0') + 'px;\
        padding-bottom: ' + ( opts.paddingBottom ? opts.paddingBottom : '0') + 'px;\
        padding-left: ' + ( opts.paddingLeft ? opts.paddingLeft : '0') + 'px;\
        border-top: ' + ( opts.borderTop ? opts.borderTop : '0' ) + ';\
        border-right: ' + ( opts.borderRight ? opts.borderRight : '0' ) + ';\
        border-bottom: ' + ( opts.borderBottom ? opts.borderBottom : '0' ) + ';\
        border-left: ' + ( opts.borderLeft ? opts.borderLeft : '0' ) + ';\
        background-size: ' + ( opts.bgSrc ? 'cover' : 'auto' ) + ';\
        background-position: ' + ( opts.bgSrc ? 'center' : 'auto' ) + ';\
        width: ' + (opts.width == 'full' ? '100%' : opts.width ? (opts.width + 'px') : '600px') + ';')
        
          - if (opts.bulletproof)
            // -->
              <!--[if gte mso 9]>
              <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="mso-width-percent:1000;">
                <v:fill type="tile" src="#{opts.bgSrc}" color="#{opts.bgColor ? opts.bgColor : color.bg}" />
                <v:textbox style="mso-fit-shape-to-text:true" inset="0,0,0,0">
              <![endif]--> <!--
            div
              block      
            //
              <!--[if gte mso 9]>
                </v:textbox>
              </v:rect>
              <![endif]--> <!-- 
          - else
        
            block



mixin row(opts)
  - var opts = opts || {};
  
  table.w100pc.zrow(width=opts.width ? opts.width : '600', align='center', bgcolor=opts.bgColor ? opts.bgColor : color.bg, cellpadding='0', cellspacing='0', border='0', style='width: ' + (opts.width ? opts.width : '600') + 'px;')
    tbody
      tr
        td.w100pc.zrow(class=opts.noMobilePadding ? '' : 'pH', width=opts.width ? opts.width : '600', align='center', valign='top', bgcolor=opts.bgColor ? opts.bgColor : color.bg, style='padding-top: ' + ( opts.paddingTop ? opts.paddingTop : '0') + 'px;\
        padding-right: ' + ( opts.paddingRight ? opts.paddingRight : '0') + 'px;\
        padding-bottom: ' + ( opts.paddingBottom ? opts.paddingBottom : '0') + 'px;\
        padding-left: ' + ( opts.paddingLeft ? opts.paddingLeft : '0') + 'px;\
        border-top: ' + ( opts.borderTop ? opts.borderTop : '0' ) + ';\
        border-right: ' + ( opts.borderRight ? opts.borderRight : '0' ) + ';\
        border-bottom: ' + ( opts.borderBottom ? opts.borderBottom : '0' ) + ';\
        border-left: ' + ( opts.borderLeft ? opts.borderLeft : '0' ) + ';\
        width: ' + (opts.width ? opts.width : '600') + 'px;')
          table.w100pc.zrow(width=opts.width ? opts.width : '600', dir=opts.direction ? opts.direction : 'ltr', align='center', bgcolor=opts.bgColor ? opts.bgColor : color.bg, cellpadding='0', cellspacing='0', border='0', style='width: ' + (opts.width ? opts.width : '600') + 'px;')
            tbody
              tr
                block
                
                
                
mixin subRow(opts)
  - var opts = opts || {};
  
  tr
    td.w100pc.zsubRow(width=opts.width ? opts.width : '600', align='center', valign=opts.valign? opts.valign : 'top', bgcolor=opts.bgColor ? opts.bgColor : color.bg, style='padding-top: ' + ( opts.paddingTop ? opts.paddingTop : '0') + 'px;\
    padding-right: ' + ( opts.paddingRight ? opts.paddingRight : '0') + 'px;\
    padding-bottom: ' + ( opts.paddingBottom ? opts.paddingBottom : '0') + 'px;\
    padding-left: ' + ( opts.paddingLeft ? opts.paddingLeft : '0') + 'px;\
    border-top: ' + ( opts.borderTop ? opts.borderTop : '0' ) + ';\
    border-right: ' + ( opts.borderRight ? opts.borderRight : '0' ) + ';\
    border-bottom: ' + ( opts.borderBottom ? opts.borderBottom : '0' ) + ';\
    border-left: ' + ( opts.borderLeft ? opts.borderLeft : '0' ) + ';\
    width: ' + (opts.width ? opts.width : '600') + 'px;')
      table.w100pc.zrow(width=opts.width ? opts.width : '600', dir=opts.direction ? opts.direction : 'ltr', align=opts.align ? opts.align : 'center', bgcolor=opts.bgColor ? opts.bgColor : color.bg, cellpadding='0', cellspacing='0', border='0', style='width: ' + (opts.width ? opts.width : '600') + 'px;')
        tbody
          tr
            block



mixin column(opts)
  - var opts = opts || {};
  - !opts.width ? width = '600' : width = opts.width
  - ( opts.paddingRight && opts.paddingLeft ) ? calculatedWidth = ( width - opts.paddingRight - opts.paddingLeft ) : opts.paddingRight ? calculatedWidth = ( width - opts.paddingRight ) : opts.paddingLeft ? calculatedWidth = ( width - opts.paddingLeft ) : calculatedWidth = width
  
  - if (opts.mobileWidth == '100%')
    - var mobileWidth = 'w100pc full';
  - else if (opts.mobileWidth == '75%')
    - var mobileWidth = 'w75pc';
  - else if (opts.mobileWidth == '66%')
    - var mobileWidth = 'w66pc';
  - else if (opts.mobileWidth == '50%')
    - var mobileWidth = 'w50pc';
  - else if (opts.mobileWidth == '33%')
    - var mobileWidth = 'w33pc';
  - else if (opts.mobileWidth == '25%')
    - var mobileWidth = 'w25pc';
  - else if (opts.mobileWidth == '10%')
    - var mobileWidth = 'w10pc';
  - else if (opts.mobileWidth == 'hide')
    - var mobileWidth = 'hide';
  
  th.zcolumn(class=mobileWidth, width=width, dir=opts.direction ? opts.direction : 'ltr', align=opts.align ? opts.align : 'center', valign=opts.valign ? opts.valign : 'top', bgcolor=opts.bgColor ? opts.bgColor : color.bg, style='padding-top: ' + ( opts.paddingTop ? opts.paddingTop : '0') + 'px;\
  padding-right: ' + ( opts.paddingRight ? opts.paddingRight : '0') + 'px;\
  padding-bottom: ' + ( opts.paddingBottom ? opts.paddingBottom : '0') + 'px;\
  padding-left: ' + ( opts.paddingLeft ? opts.paddingLeft : '0') + 'px;\
  border-top: ' + ( opts.borderTop ? opts.borderTop : '0' ) + ';\
  border-right: ' + ( opts.borderRight ? opts.borderRight : '0' ) + ';\
  border-bottom: ' + ( opts.borderBottom ? opts.borderBottom : '0' ) + ';\
  border-left: ' + ( opts.borderLeft ? opts.borderLeft : '0' ) + ';\
  width: ' + width + 'px;')
    table.w100pc.zcolumn(width=calculatedWidth, align=opts.align ? opts.align : 'center', bgcolor=opts.bgColor ? opts.bgColor : color.bg, cellpadding='0', cellspacing='0', border='0', style='width: ' + calculatedWidth + 'px;')
      tbody
        block  


              
mixin img(opts)
  - var opts = opts || {};
  - !opts.width ? width = '600' : width = opts.width
  - var calculatedImgWidth = Math.round((width / 3) * 2)

  tr
    td.w100pc(width=width, align=opts.align ? opts.align : 'center', valign=opts.valign ? opts.valign : 'top', bgcolor=opts.bgColor ? opts.bgColor : color.bg, style='padding-top: ' + ( opts.paddingTop ? opts.paddingTop : '0') + 'px;\
    padding-right: ' + ( opts.paddingRight ? opts.paddingRight : '0') + 'px;\
    padding-bottom: ' + ( opts.paddingBottom ? opts.paddingBottom : '0') + 'px;\
    padding-left: ' + ( opts.paddingLeft ? opts.paddingLeft : '0') + 'px;\
    border-top: ' + ( opts.borderTop ? opts.borderTop : '0' ) + ';\
    border-right: ' + ( opts.borderRight ? opts.borderRight : '0' ) + ';\
    border-bottom: ' + ( opts.borderBottom ? opts.borderBottom : '0' ) + ';\
    border-left: ' + ( opts.borderLeft ? opts.borderLeft : '0' ) + ';\
    width: ' + width + 'px;')
      a(href=opts.imgHref ? opts.imgHref : '#', target='_blank', title=opts.imgTitle ? opts.imgTitle : 'title', style='text-decoration: none; border: 0; outline: 0;')
        img(class=opts.responsive ? 'w100pc hauto' : '', src=opts.imgSrc ? opts.imgSrc: 'https://www.placehold.it/' + width + 'x' + calculatedImgWidth, alt=opts.imgTitle ? opts.imgTitle : 'alt', width=opts.imgWidth ? opts.imgWidth : width, border='0', style='display: block; border: none; width: ' + (opts.imgWidth ? opts.imgWidth : width) + 'px;')/
      block



mixin txt(opts)
  - var opts = opts || {};
  - !opts.txt ? opts.txt = 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.' : opts.txt
  
  tr
    td.w100pc.fontFallback(width=opts.width ? opts.width : '600', align=opts.align ? opts.align : 'center', valign=opts.valign ? opts.valign : 'top', bgcolor=opts.bgColor ? opts.bgColor : color.bg, style='padding-top: ' + ( opts.paddingTop ? opts.paddingTop : '0') + 'px;\
    padding-right: ' + ( opts.paddingRight ? opts.paddingRight : '0') + 'px;\
    padding-bottom: ' + ( opts.paddingBottom ? opts.paddingBottom : '0') + 'px;\
    padding-left: ' + ( opts.paddingLeft ? opts.paddingLeft : '0') + 'px;\
    border-top: ' + ( opts.borderTop ? opts.borderTop : '0' ) + ';\
    border-right: ' + ( opts.borderRight ? opts.borderRight : '0' ) + ';\
    border-bottom: ' + ( opts.borderBottom ? opts.borderBottom : '0' ) + ';\
    border-left: ' + ( opts.borderLeft ? opts.borderLeft : '0' ) + ';\
    font-family: ' + ( opts.fontFamily ? opts.fontFamily : 'Helvetica' ) + ', sans-serif;\
    font-size: ' + ( opts.fontSize ? opts.fontSize : '14' ) + 'px;\
    font-weight: ' + ( opts.fontWeight ? opts.fontWeight : 'normal' ) + ';\
    line-height: ' + ( opts.lineHeight ? opts.lineHeight : '21' ) + 'px;\
    color: ' + ( opts.fontColor ? opts.fontColor : color.txt ) + ';\
    width: ' + (opts.width ? opts.width : '600') + 'px;')
      | !{opts.txt}
      block



mixin btn(opts)
  - var opts = opts || {};
  - !opts.btnTxt ? opts.btnTxt = 'Lorem ipsum' : opts.btnTxt
  
  tr
    td.w100pc(width=opts.width ? opts.width : '600', align=opts.align ? opts.align : 'center', valign=opts.valign ? opts.valign : 'top', bgcolor=opts.bgColor ? opts.bgColor : color.bg, style='padding-top: ' + ( opts.paddingTop ? opts.paddingTop : '0') + 'px;\
    padding-right: ' + ( opts.paddingRight ? opts.paddingRight : '0') + 'px;\
    padding-bottom: ' + ( opts.paddingBottom ? opts.paddingBottom : '0') + 'px;\
    padding-left: ' + ( opts.paddingLeft ? opts.paddingLeft : '0') + 'px;\
    border-top: ' + ( opts.borderTop ? opts.borderTop : '0' ) + ';\
    border-right: ' + ( opts.borderRight ? opts.borderRight : '0' ) + ';\
    border-bottom: ' + ( opts.borderBottom ? opts.borderBottom : '0' ) + ';\
    border-left: ' + ( opts.borderLeft ? opts.borderLeft : '0' ) + ';\
    width: ' + (opts.width ? opts.width : '600') + 'px;')
      table(align=opts.align ? opts.align : 'center', bgcolor=opts.bgColor ? opts.bgColor : color.bg, border='0', cellpadding='0', cellspacing='0', width=opts.btnWidth, style='width: ' + opts.btnWidth + 'px;')
        tbody
          tr
            - if (opts.bulletproof)
              td
                div
                  // -->
                    <!--[if mso]>
                    <v:rect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="#{opts.btnHref ? opts.btnHref : '#'}" style="height:#{opts.bulletproofHeight ? opts.bulletproofHeight : '40'}px;v-text-anchor:middle;width:#{opts.btnWidth ? opts.btnWidth : '200'}px;" stroke="f" fillcolor="#{opts.btnColor ? opts.btnColor : color.hlight}">
                      <w:anchorlock/>
                      <center>
                    <![endif]-->
                        <a href="#{opts.btnHref ? opts.btnHref : '#'}"
                    style="background-color:#{opts.btnColor ? opts.btnColor : color.hlight};color:#{opts.btnTxtColor ? opts.btnTxtColor : color.bg};display:inline-block;font-family:#{opts.btnFontFamily ? opts.btnFontFamily : 'Helvetica'};font-size:#{opts.btnFontSize ? opts.btnFontSize : '14'}px;font-weight:#{opts.btnFontWeight ? opts.btnFontWeight : 'normal'};line-height:#{opts.btnLineHeight ? opts.btnLineHeight : '21'}px;text-align:center;text-decoration:none;width:#{opts.btnWidth ? opts.btnWidth : '200'}px;-webkit-text-size-adjust:none;">#{opts.btnTxt}</a>
                    <!--[if mso]>
                      </center>
                    </v:rect>
                    <![endif]--> <!--
            - else
              td.fontFallback(width=opts.btnWidth ? opts.btnWidth : '200', align='center', valign='middle', bgcolor=opts.btnColor ? opts.btnColor : color.hlight, style='padding-top: ' + ( opts.btnPaddingTop ? opts.btnPaddingTop : '8') + 'px;\
              padding-right: ' + ( opts.btnPaddingRight ? opts.btnPaddingRight : '16') + 'px;\
              padding-bottom: ' + ( opts.btnPaddingBottom ? opts.btnPaddingBottom : '8') + 'px;\
              padding-left: ' + ( opts.btnPaddingLeft ? opts.btnPaddingLeft : '16') + 'px;\
              border: ' + ( opts.btnBorder ? opts.btnBorder : '0' ) + ';\
              font-family: ' + ( opts.btnFontFamily ? opts.btnFontFamily : 'Helvetica' ) + ', sans-serif;\
              font-size: ' + ( opts.btnFontSize ? opts.btnFontSize : '14' ) + 'px;\
              font-weight: ' + ( opts.btnFontWeight ? opts.btnFontWeight : 'normal' ) + ';\
              line-height: ' + ( opts.btnLineHeight ? opts.btnLineHeight : '21' ) + 'px;\
              color: ' + ( opts.btnTxtColor ? opts.btnTxtColor : color.bg ) + ';\
              width: ' + (opts.btnWidth ? opts.btnWidth : '200') + 'px;')
                a(href=opts.btnHref ? opts.btnHref : '#', target='_blank', title=opts.btnTitle ? opts.btnTitle : 'title', style='text-decoration: none; border: 0; outline: 0; color:' + (opts.btnTxtColor ? opts.btnTxtColor : color.bg) + ';')=opts.btnTxt
                block