block vars

- const date = new Date();

doctype html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"
html(xmlns='http://www.w3.org/1999/xhtml', xmlns:v='urn:schemas-microsoft-com:vml', xmlns:o='urn:schemas-microsoft-com:office:office', lang='en')
  head
    title=title ? title : undefined
    meta(http-equiv='Content-Type' content='text/html; charset=utf-8')/
    meta(name='viewport', content='width=device-width, initial-scale=1')/

    meta(content='date=no, address=no, telephone=no, email=no', name='format-detection')/
    
    meta(name='build-date' content=`${date.getFullYear()}-${('0' + (date.getMonth()+1)).slice(-2)}-${('0' + date.getDate()).slice(-2)}`)/
    
    // Disable auto-scaling on iOS 10~
    meta(name='x-apple-disable-message-reformatting')/

    <!--[if gte mso 9]>
    meta(content="IE=edge" http-equiv="X-UA-Compatible")/
    <![endif]-->

    <!--[if mso]>
    xml
      o:OfficeDocumentSettings
        o:AllowPNG/
        o:PixelsPerInch 96
    <![endif]-->

    block customFonts

    include ../includes/style

    block customCSS

  body&attributes(message.body)

    include ../includes/mixins

    block content
