mixin column(opts)
  - let bgWidth = opts.width;
  - let bgHeight = Math.floor((bgWidth * 2) / 3);
  - let background;

  - 
    if (opts.bulletproof) {
      background = {
        style: {
          'background-color': 'transparent',
          'background-image': `url(${opts.bgSrc ? opts.bgSrc : `http://placehold.jp/${opts.width == 'full' ? '600' :  opts.width}x${Math.round( ( opts.width == 'full' ? '600' : opts.width ) / 3) * 2}.jpg`})`,
          'background-position': 'center',
          'background-repeat': 'no-repeat',
          'background-size':  'cover'
        }
      }
    }

  - if ( opts.mobileWidth == '100%' )
    - opts.mobileWidth = 'w100pc full';
  - else if ( opts.mobileWidth && opts.mobileWidth.includes('%') )
    - opts.mobileWidth = ('w' + opts.mobileWidth).replace('%', 'pc');

  th(
    data-component='column',
    class=opts.customClass,
    class=opts.mobileWidth,
    width=opts.width,
    dir=opts.direction,
    align=opts.align,
    valign=opts.valign,
    bgcolor=opts.bulletproof ? 'transparent' : opts.bgColor,
    background=(
      opts.bulletproof && opts.bgSrc
      ? opts.bgSrc
      : opts.bulletproof 
      ? `http://placehold.jp/${bgWidth}x${bgHeight}.jpg` 
      : undefined
    ),
    style={
      'padding-top': `${opts.paddingTop}px`,
      'padding-right': `${opts.paddingRight}px`,
      'padding-bottom': `${opts.paddingBottom}px`,
      'padding-left': `${opts.paddingLeft}px`,
      'border-top': opts.borderTop,
      'border-right': opts.borderRight,
      'border-bottom': opts.borderBottom,
      'border-left': opts.borderLeft,
      width: `${opts.width}px`
    }
  )&attributes(background)
  
    - if ( opts.bulletproof )
      <!--[if gte mso 9]>
      <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="width: #{opts.width ? opts.width : '600'}px;">
        <v:fill type="frame" src="#{( opts.bgSrc ? opts.bgSrc : 'http://placehold.jp/' + opts.width + 'x' + ( Math.round( opts.width / 3 ) * 2 ) + '.jpg' )}" color="#{opts.bgColor ? opts.bgColor : '#FFFFFF'}" />
        <v:textbox style="mso-fit-shape-to-text:true" inset="0,0,0,0">
      <![endif]-->
      table(
        data-component='column',
        role="presentation"
        class="w100pc",
        width=opts.width - opts.paddingRight - opts.paddingLeft,
        align=opts.align,
        bgcolor=opts.bulletproof ? 'transparent' : opts.bgColor,
        cellpadding=0,
        cellspacing=0,
        border=0,
        style={
          width: `${opts.width - opts.paddingRight - opts.paddingLeft}px`
        }
      )
        tbody
          block
        <!--[if gte mso 9]>
          </v:textbox>
        </v:rect>
        <![endif]-->
    - else if ( !opts.bulletproof )
      table(
        data-component='column',
        role="presentation"
        class="w100pc",
        width=opts.width - opts.paddingRight - opts.paddingLeft,
        align=opts.align,
        bgcolor=opts.bgColor,
        cellpadding=0,
        cellspacing=0,
        border=0,
        style={
          width: `${( opts.width - opts.paddingRight - opts.paddingLeft )}px`
        }
      )
        tbody
          block
