mixin row(opts)
  - let calculatedWidth = opts.width - opts.paddingRight - opts.paddingLeft;

  table(
    data-component='row',
    role='presentation',
    class="w100pc",
    width=opts.width,
    align='center',
    bgcolor=opts.bgColor,
    cellpadding=0,
    cellspacing=0,
    border=0,
    style={
      width: `${opts.width}px`
    }
  )
    tbody
      tr
        td(
          data-component='row',
          class=opts.customClass,
          class="w100pc",
          class=opts.noMobilePadding ? undefined : 'pH',
          width=opts.width,
          align='center', 
          valign='top',
          bgcolor=opts.bgColor,
          style={
            'padding-top': `${opts.paddingTop}px`,
            'padding-right': `${opts.paddingRight}px`,
            'padding-bottom': `${opts.paddingBottom}px`,
            'padding-left': `${opts.paddingLeft}px`,
            'border-top': opts.borderTop,
            'border-right': opts.borderRight,
            'border-bottom': opts.borderBottom,
            'border-left': opts.borderLeft,
            width: `${opts.width}px`
          }
        )
          table(
            data-component='row',
            role='presentation',
            class="w100pc",
            width=calculatedWidth,
            dir=opts.direction,
            align='center',
            bgcolor=opts.bgColor,
            cellpadding=0,
            cellspacing=0,
            border=0,
            style={
              width: `${calculatedWidth}px`
            }
          )
            tbody
              tr
                block
